    <!-- <a class="fixedSocial" target="blank_"
        href="https://www.youtube.com/channel/UCQ_6roDP5aOZ99QdrjGVsHA/featured"><span> </span><i class="fa-brands fa-youtube fa-fade" style="color: #ff2121;"></a> -->
            <a class="fixedSocial fixedSocial-instagram" target="blank_" href="https://www.instagram.com/sishisar/"><span><i
                class="fa-brands fa-instagram fa-fade" style="color: #df7897;"></i> </span></a>
    <a class="fixedSocial fixedSocial-linkedin" target="blank_" href="https://www.facebook.com/scottish.hisar"><span><i
                class="fa-brands fa-facebook-f fa-fade" style="color: #a4cee4;"></i> </span></a>