<div class="nav-trigger NavTriggerBottom" style="margin-bottom: -100px;">
    <a href="#" class="triggerOpen">
        <span></span>
        <span></span>
        <span></span>
        <b><i class="fa-solid fa-arrow-up"></i> Menu</b>
    </a>
</div>
<link rel="stylesheet" href="/stylesheets/navBottom.css">