<% layout('layouts/boilerplate')%>
    <%- include('../partials/fixedSocials')%>
        <section class="brand-hero row">
            <!--<iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3444.1434557992666!2d78.05572211552051!3d30.3184371125311!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390929b7249d5e1f%3A0x6a0dbc429180e02b!2sWelham%20Boys&#39;%20School!5e0!3m2!1sen!2sin!4v1594274963609!5m2!1sen!2sin"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>-->
            <div class="animate-banner">
                <picture class="zoom">
                    <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-pause="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="3000">
                                <img src="https://res.cloudinary.com/djfy7fvq1/image/upload/v1683454348/Screenshot_2023-05-07_at_3.41.47_PM_wt8wpn.png"
                                    class="d-block w-100" alt="..." style="height: 70vh;">
                                <!-- <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <p>Some representative placeholder content for the first slide.</p>
                        </div> -->
                            </div>
                            <div class="carousel-item" data-bs-interval="3000">
                                <img src="https://res.cloudinary.com/djfy7fvq1/image/upload/v1679174855/Scottish/qd8pkstxjoq0udwuwoc7.jpg"
                                    class="d-block w-100" alt="..." style="height: 70vh;">
                                <!-- <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <p>Some representative placeholder content for the first slide.</p>
                        </div> -->
                            </div>
                        </div>
                    </div>
                </picture>
            </div>
            <div class="page-title align-items-start">
                <div class="container">
                    <div class="banner-content-inner">
                        <h1>Beyond Classroom <a href="/"><i class="fa-solid fa-arrow-left" style="color: #eabd57;"></i>
                                Home</a></h1>
                    </div>
                </div>
            </div>
        </section>
        <div class="container-fuild">
            <div class="row">
                <section class="inner-entry ">
                    <div class="container wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s"
                        style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="mainTitle">
                            <p class="title-branding mb-2"><img class="img-fluid"
                                    src="/assests/SISTransparentLogoWhite.png"></p>
                            <h2></h2>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <section class="container pt-3 bg-1">
            <div class="row justify-content-center">
                <h2 class="text-center display-1 py-5" style="color: #654f4f;">WHERE YOU WANT TO VISIT FIRST?</h2>
                <div class="col-md-6 mb-2">
                    <a href="/beyond-classroom/sports">
                        <div class="card text-bg-dark">
                            <img src="/assests/basketball.jpg" class="card-img" height="750px">
                            <div class="card-img-overlay">
                                <h5 class="card-title text-center display-3" style="padding: 50% 0; color: #eabd57;">
                                    Sports</h5>
                                <!-- <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small>Last updated 3 mins ago</small></p> -->
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="/beyond-classroom/co-curricular">
                        <div class="card text-bg-dark">
                            <img src="/assests/Glimpse of Baisakhi Celebration.jpg" class="card-img" height="750px">
                            <div class="card-img-overlay">
                                <h5 class="card-title text-center display-3" style="padding: 50% 0; color: #eabd57;">
                                    Co-Currucular</h5>
                                <!-- <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <p class="card-text"><small>Last updated 3 mins ago</small></p> -->
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </section>
        <section class="row" style='margin-bottom: 160px;'>
            <%- include('../partials/footerBottom')%>
        </section>
        <style>
            @keyframes zoominoutsinglefeatured {
                0% {
                    transform: scale(1, 1);
                }

                100% {
                    transform: scale(1.25, 1.25);
                }
            }

            .card:hover>img {
                animation: zoominoutsinglefeatured 9s infinite;
                
            }
        </style>
        <link rel="stylesheet" href="/stylesheets/contact-us.css">
        <link rel="stylesheet" href="/stylesheets/page-title.css">
        <link rel="stylesheet" href="/stylesheets/navbottom.css">