<% layout('layouts/boilerplate')%>
    <%- include('../partials/fixedSocials')%>
        <section class="brand-hero row">
            <!--<iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3444.1434557992666!2d78.05572211552051!3d30.3184371125311!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390929b7249d5e1f%3A0x6a0dbc429180e02b!2sWelham%20Boys&#39;%20School!5e0!3m2!1sen!2sin!4v1594274963609!5m2!1sen!2sin"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>-->
            <div class="animate-banner">
                <picture class="zoom">
                    <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel"
                        data-bs-pause="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="3000">
                                <img src="https://res.cloudinary.com/djfy7fvq1/image/upload/v1683454348/Screenshot_2023-05-07_at_3.41.47_PM_wt8wpn.png"
                                    class="d-block w-100" alt="..." style="height: 70vh;">
                                <!-- <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div> -->
                            </div>
                            <div class="carousel-item" data-bs-interval="3000">
                                <img src="https://res.cloudinary.com/djfy7fvq1/image/upload/v1679174855/Scottish/qd8pkstxjoq0udwuwoc7.jpg"
                                    class="d-block w-100" alt="..." style="height: 70vh;">
                                <!-- <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div> -->
                            </div>
                        </div>
                    </div>
                </picture>
            </div>
            <div class="page-title align-items-start">
                <div class="container">
                    <div class="banner-content-inner">
                        <h1>Sports Accomplishments<a href="/"><i class="fa-solid fa-arrow-left"
                                    style="color: #eabd57;"></i>
                                Home</a></h1>
                    </div>
                </div>
            </div>
        </section>
        <div class="container-fuild">
            <div class="row">
                <section class="inner-entry ">
                    <div class="container wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s"
                        style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="mainTitle">
                            <p class="title-branding mb-2"><img class="img-fluid"
                                    src="/assests/SISTransparentLogoWhite.png"></p>
                            <h2>Achievements</h2>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <section id="winners">
            <div class="container">
                <div class="row">
                    <h2 class="mt-5" style="color:#654f4f;">22nd UK Open State Roller Skating Championship 2023</h2>
                    <i class="fa-solid fa-minus" style="color: #e3bf68; font-size: 50px;"></i>

                    <p>The 22nd UK Open State Roller Skating Championship, 2023 witnessed fierce competition among 40
                        schools from across the state. In an outstanding display of skill and determination, Welhamites
                        clinched the highly coveted overall best performance trophy. Their exceptional performance was
                        evident as they emerged victorious in the Senior and Junior Roll Ball matches, as well as the
                        Junior and Sub-Junior Roller Hockey matches. Additionally, they secured the runner-up position
                        in the Senior and Junior In-line Hockey matches. Notably, some of our talented players also
                        participated in the Roll Ball nationals in the Senior and Sub-Junior categories. Congratulations
                        to the entire team on their remarkable success!</p>
                </div>
                <div class="row">
                    <div class="row mb-3">
                        <div class="col-md-4"><img src="/assests/sports/karate.jpg" class=" img-fluid rounded" alt="">
                        </div>
                        <div class="col-md-4"><img src="/assests/sports/karate.jpg" class=" img-fluid rounded" alt="">
                        </div>
                        <div class="col-md-4"><img src="/assests/sports/karate.jpg" class=" img-fluid rounded" alt="">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6 "><img src="/assests/sports/karate.jpg" alt="" class="img-fluid rounded">
                        </div>
                        <div class="col-md-6 "><img src="/assests/sports/karate.jpg" alt="" class="img-fluid rounded">
                        </div>

                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <h2 class="mt-5" style="color:#654f4f;">INTER SCHOOL AQUA MEET</h2>
                    <i class="fa-solid fa-minus" style="color: #e3bf68; font-size: 50px;"></i>

                    <p>School’s Swimming Team lifted the Championship Trophy and proved their mettle at the
                        Inter School Aqua Meet held at the Shri Ram Centennial School. With an amazing showcase of
                        talent, our team of 23 students competed across diverse age categories, leaving an indelible
                        mark. Their exceptional skills and dedication led to a remarkable achievement of 8 Gold, 8
                        Silver, and 5 Bronze medals. Astitva Sharma received special recognition as the Best Swimmer in
                        the Junior category. The entire Welham community exults in this momentous triumph as we proudly
                        hoist the championship trophy. Heartfelt congratulations to our outstanding swimmers and the
                        coach for their remarkable achievements. Their unwavering commitment and hard work have truly
                        paid off! </p>
                </div>
                <div class="row">
                    <div class="row mb-3">
                        <div class="col-md-4"><img src="/assests/sports/swimming.jpg" class=" img-fluid rounded" alt="" width="100%" height="100%">
                        </div>
                        <div class="col-md-4"><img src="/assests/sports/swimming.jpg" class=" img-fluid rounded" alt="" width="100%" height="100%">
                        </div>
                        <div class="col-md-4"><img src="/assests/sports/swimming.jpg" class=" img-fluid rounded" alt="" width="100%" height="100%">
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6 "><img src="/assests/sports/swimming.jpg" alt="" class="img-fluid rounded" width="100%" height="100%">
                        </div>
                        <div class="col-md-6 "><img src="/assests/sports/swimming.jpg" alt="" class="img-fluid rounded" width="100%" height="100%">
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <section id="individual awards">
            <div class="container mt-5">
                <div class="row">
                    <h2 class="text-uppercase" style="color:#654f4f;">Individual Awards</h2>
                    <i class="fa-solid fa-minus" style="color: #e3bf68; font-size: 50px;"></i>
                    <div class="col-md-6">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-5">
                                    <img src="/assests/sports/chess.jpg" class="img-fluid rounded-start" alt="..."
                                        style="height: 100%;">
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body">
                                        <h5 class="card-title">International Level Chess Champion</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a
                                            natural lead-in to additional content. This content is a little bit longer.
                                        </p>
                                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins
                                                ago</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-5">
                                    <img src="/assests/sports/chess.jpg" class="img-fluid rounded-start" alt="..."
                                        style="height: 100%;">
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body">
                                        <h5 class="card-title">State Level Chess Champion</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a
                                            natural lead-in to additional content. This content is a little bit longer.
                                        </p>
                                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins
                                                ago</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-5">
                                    <img src="/assests/sports/chess.jpg" class="img-fluid rounded-start" alt="..."
                                        style="height: 100%;">
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body">
                                        <h5 class="card-title">National Level Chess Champion</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a
                                            natural lead-in to additional content. This content is a little bit longer.
                                        </p>
                                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins
                                                ago</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card mb-3" style="max-width: 540px;">
                            <div class="row g-0">
                                <div class="col-md-5">
                                    <img src="/assests/sports/chess.jpg" class="img-fluid rounded-start" alt="..."
                                        style="height: 100%;">
                                </div>
                                <div class="col-md-7">
                                    <div class="card-body">
                                        <h5 class="card-title">School Level Chess Champion</h5>
                                        <p class="card-text">This is a wider card with supporting text below as a
                                            natural lead-in to additional content. This content is a little bit longer.
                                        </p>
                                        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins
                                                ago</small></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <section id="team sports">
            <section>
                <div class="container">
                    <div class="table-custom table-responsive ">
                        <div class="section-title wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s"
                            style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.2s; animation-name: fadeInUp;">
                            <h2 class="mt-5 text-uppercase" style="color:#654f4f;">Soccer</h2>
                        </div>
                        <div class="d-block d-lg-none">
                            <div class="">
                                <img class="img-fluid w-100" src="images/soccer-2021.jpg" alt="">
                            </div>
                        </div>
                        <table class="table table-bordered table-striped text-center ">
                            <tbody>
                                <tr>
                                    <td colspan="5" style="text-align: left;"> Coach: <b>Manoj Kumar Barthwal</b> |
                                        Captain:
                                        <b>Param Mehta</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="4" class="bg-white d-none d-lg-table-cell" width="33%">
                                        <div class="">
                                            <img class="img-fluid w-100" src="/assests/sports/football.jpg" alt="">
                                        </div>
                                    </td>
                                    <th>Tournament</th>
                                    <th width="20%">Venue</th>
                                    <th width="15%">Date/Month</th>
                                    <th width="10%">Result</th>
                                </tr>
                                <tr>

                                    <td>Summer Valley Invitational Junior Football Tournament</td>
                                    <td>Summer Valley School, Dehradun</td>
                                    <td>22nd August to 27th August, 2022</td>
                                    <td>Semi Finalist</td>
                                </tr>
                                <tr>
                                    <td>The Doon School Invitational Under-14 Football Tournament</td>
                                    <td>The Doon School, Dehradun</td>
                                    <td>29th August to 3rd September, 2022</td>
                                    <td>Semi Finalist</td>
                                </tr>
                                <tr>
                                    <td>Selaqui All India Inter School Soccer Tournament</td>
                                    <td>Selaqui International School, Selaqui</td>
                                    <td>3rd September to 6th September, 2022</td>
                                    <td>Semi Finalist</td>
                                </tr>
                                <tr>
                                    <td colspan="5">
                                        <h5 class="mt-2 text-left"><b>Special Mention:</b></h5>
                                        <ul class="list text-left">
                                            <li>Ishan Kumar was adjudged Best Goal Keeper of the tournament during
                                                Summer
                                                Valley Invitational Junior U-15 Football Tournament-2022.</li>
                                            <ul>
                                            </ul>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="table-custom table-responsive ">
                        <div class="section-title wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s"
                            style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.2s; animation-name: fadeInUp;">
                            <h2 class="mt-5 text-uppercase" style="color:#654f4f;">Basketball</h2>
                        </div>
                        <div class="d-block d-lg-none">
                            <div class="">
                                <img class="img-fluid w-100" src="/assests/basketball.jpg" alt="">
                            </div>
                        </div>
                        <table class="table table-bordered table-striped text-center ">
                            <tbody>
                                <tr>
                                    <td colspan="5" style="text-align: left;"> Coach: <b>Manoj Kumar Barthwal</b> |
                                        Captain:
                                        <b>Param Mehta</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td rowspan="4" class="bg-white d-none d-lg-table-cell" width="33%">
                                        <div class="">
                                            <img class="img-fluid w-100" src="/assests/basketball.jpg"
                                                style="height: 500px;" alt="">
                                        </div>
                                    </td>
                                    <th>Tournament</th>
                                    <th width="20%">Venue</th>
                                    <th width="15%">Date/Month</th>
                                    <th width="10%">Result</th>
                                </tr>
                                <tr>

                                    <td>Summer Valley Invitational Junior Football Tournament</td>
                                    <td>Summer Valley School, Dehradun</td>
                                    <td>22nd August to 27th August, 2022</td>
                                    <td>Semi Finalist</td>
                                </tr>
                                <tr>
                                    <td>The Doon School Invitational Under-14 Football Tournament</td>
                                    <td>The Doon School, Dehradun</td>
                                    <td>29th August to 3rd September, 2022</td>
                                    <td>Semi Finalist</td>
                                </tr>
                                <tr>
                                    <td>Selaqui All India Inter School Soccer Tournament</td>
                                    <td>Selaqui International School, Selaqui</td>
                                    <td>3rd September to 6th September, 2022</td>
                                    <td>Semi Finalist</td>
                                </tr>
                                <tr>
                                    <td colspan="5">
                                        <h5 class="mt-2 text-left"><b>Special Mention:</b></h5>
                                        <ul class="list text-left">
                                            <li>Ishan Kumar was adjudged Best Goal Keeper of the tournament during
                                                Summer
                                                Valley Invitational Junior U-15 Football Tournament-2022.</li>
                                            <ul>
                                            </ul>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="table-custom table-responsive ">
                        <div class="section-title wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s"
                            style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.2s; animation-name: fadeInUp;">
                            <h2 class="mt-5 text-uppercase" style="color:#654f4f;">Volley</h2>
                        </div>
                        <div class="d-block d-lg-none">
                            <div class="">
                                <img class="img-fluid w-100" src="/assests/sports/volleyball.jpg" alt="">
                            </div>
                        </div>
                        <table class="table table-bordered table-striped text-center ">
                            <tbody>
                                <tr>
                                    <td colspan="5" style="text-align: left;"> Coach: <b>Manoj Kumar Barthwal</b> |
                                        Captain: <b>Param Mehta</b></td>
                                </tr>
                                <tr>
                                    <td rowspan="4" class="bg-white d-none d-lg-table-cell" width="33%">
                                        <div class="">
                                            <img class="img-fluid w-100" src="/assests/sports/volleyball.png" alt="">
                                        </div>
                                    </td>
                                    <th>Tournament</th>
                                    <th width="20%">Venue</th>
                                    <th width="15%">Date/Month</th>
                                    <th width="10%">Result</th>
                                </tr>
                                <tr>

                                    <td>Summer Valley Invitational Junior Football Tournament</td>
                                    <td>Summer Valley School, Dehradun</td>
                                    <td>22nd August to 27th August, 2022</td>
                                    <td>Semi Finalist</td>
                                </tr>
                                <tr>
                                    <td>The Doon School Invitational Under-14 Football Tournament</td>
                                    <td>The Doon School, Dehradun</td>
                                    <td>29th August to 3rd September, 2022</td>
                                    <td>Semi Finalist</td>
                                </tr>
                                <tr>
                                    <td>Selaqui All India Inter School Soccer Tournament</td>
                                    <td>Selaqui International School, Selaqui</td>
                                    <td>3rd September to 6th September, 2022</td>
                                    <td>Semi Finalist</td>
                                </tr>
                                <tr>
                                    <td colspan="5">
                                        <h5 class="mt-2 text-left"><b>Special Mention:</b></h5>
                                        <ul class="list text-left">
                                            <li>Ishan Kumar was adjudged Best Goal Keeper of the tournament during
                                                Summer Valley Invitational Junior U-15 Football Tournament-2022.</li>
                                            <ul>
                                            </ul>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="table-custom table-responsive ">
                        <div class="section-title wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s"
                            style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.2s; animation-name: fadeInUp;">
                            <h2 class="mt-5 text-uppercase" style="color:#654f4f;">Karate</h2>
                        </div>
                        <div class="d-block d-lg-none">
                            <div class="">
                                <img class="img-fluid w-100" src="images/soccer-2021.jpg" alt="">
                            </div>
                        </div>
                        <table class="table table-bordered table-striped text-center ">
                            <tbody>
                                <tr>
                                    <td colspan="5" style="text-align: left;"> Coach: <b>Manoj Kumar Barthwal</b> |
                                        Captain: <b>Param Mehta</b></td>
                                </tr>
                                <tr>
                                    <td rowspan="4" class="bg-white d-none d-lg-table-cell" width="33%">
                                        <div class="">
                                            <img class="img-fluid w-100" src="/assests/sports/karate.jpg" alt="">
                                        </div>
                                    </td>
                                    <th>Tournament</th>
                                    <th width="20%">Venue</th>
                                    <th width="15%">Date/Month</th>
                                    <th width="10%">Result</th>
                                </tr>
                                <tr>

                                    <td>Summer Valley Invitational Junior Football Tournament</td>
                                    <td>Summer Valley School, Dehradun</td>
                                    <td>22nd August to 27th August, 2022</td>
                                    <td>Semi Finalist</td>
                                </tr>
                                <tr>
                                    <td>The Doon School Invitational Under-14 Football Tournament</td>
                                    <td>The Doon School, Dehradun</td>
                                    <td>29th August to 3rd September, 2022</td>
                                    <td>Semi Finalist</td>
                                </tr>
                                <tr>
                                    <td>Selaqui All India Inter School Soccer Tournament</td>
                                    <td>Selaqui International School, Selaqui</td>
                                    <td>3rd September to 6th September, 2022</td>
                                    <td>Semi Finalist</td>
                                </tr>
                                <tr>
                                    <td colspan="5">
                                        <h5 class="mt-2 text-left"><b>Special Mention:</b></h5>
                                        <ul class="list text-left">
                                            <li>Ishan Kumar was adjudged Best Goal Keeper of the tournament during
                                                Summer Valley Invitational Junior U-15 Football Tournament-2022.</li>
                                            <ul>
                                            </ul>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </section>
        <section class="row" style='margin-bottom: 160px;'>
            <%- include('../partials/footerBottom')%>
        </section>

        <link rel="stylesheet" href="/stylesheets/contact-us.css">
        <link rel="stylesheet" href="/stylesheets/page-title.css">
        <link rel="stylesheet" href="/stylesheets/navbottom.css">