<% layout('layouts/boilerplate')%>
<%- include('./partials/photoSlide')%>
<section class="row" style= 'margin-bottom: 160px;'>
    <%- include('./partials/footerBottom')%>
</section>

<link rel="stylesheet" href="/stylesheets/contact-us.css">
<link rel="stylesheet" href="/stylesheets/navbottom.css">