<% layout('layouts/boilerplate')%>
    <%- include('./partials/fixedSocials')%>
        <section class="brand-hero row">
            <!--<iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3444.1434557992666!2d78.05572211552051!3d30.3184371125311!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390929b7249d5e1f%3A0x6a0dbc429180e02b!2sWelham%20Boys&#39;%20School!5e0!3m2!1sen!2sin!4v1594274963609!5m2!1sen!2sin"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>-->
            <div class="animate-banner">
                <picture class="zoom">
                    <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-pause="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="3000">
                                <img src="https://res.cloudinary.com/djfy7fvq1/image/upload/v1683454348/Screenshot_2023-05-07_at_3.41.47_PM_wt8wpn.png"
                                    class="d-block w-100" alt="..." style="height: 70vh;">
                                <!-- <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div> -->
                            </div>
                            <div class="carousel-item" data-bs-interval="3000">
                                <img src="https://res.cloudinary.com/djfy7fvq1/image/upload/v1679174855/Scottish/qd8pkstxjoq0udwuwoc7.jpg"
                                    class="d-block w-100" alt="..." style="height: 70vh;">
                                <!-- <div class="carousel-caption d-none d-md-block">
                    <h5>First slide label</h5>
                    <p>Some representative placeholder content for the first slide.</p>
                </div> -->
                            </div>
                        </div>
                    </div>
                </picture>
            </div>
            <div class="page-title align-items-start">
                <div class="container">
                    <div class="banner-content-inner">
                        <h1>Academics <a href="/"><i class="fa-solid fa-arrow-left" style="color: #eabd57;"></i>
                                Home</a></h1>
                    </div>
                </div>
            </div>
        </section>

        <section class="section mt-5">
            <div class="container">
                <div class="section-title wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s"
                    style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.2s; animation-name: fadeInUp;">
                    <p class="text mb-3 "><b>Scottish International School is affiliated to the CENTRAL BOARD OF SECONDARY
                            EDUCATION (CBSE). The School offers a wide range of academic choices.</b> </p>
                    <h2 class="p-color"><small>The subjects offered are grouped under<br> the following
                            Departments</small></h2>
                </div>
                <div class="subjects">

                    <ul class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        <li>
                            <div>
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 496 496"
                                    style="enable-background:new 0 0 496 496;" xml:space="preserve">
                                    <g>
                                        <g>
                                            <path
                                                d="M217.528,96h-14.4L183.44,32h-27.824l-19.688,64h-14.4v16h9.48l-9.128,29.648l15.288,4.704L147.744,112h43.568l10.568,34.352l15.288-4.704L208.048,112h9.48V96z M152.664,96l14.776-48h4.176l14.768,48H152.664z">
                                            </path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path
                                                d="M294.672,88c6.656-5.864,10.856-14.456,10.856-24c0-17.648-14.352-32-32-32h-32v112h32c17.648,0,32-14.352,32-32C305.528,102.456,301.328,93.864,294.672,88z M273.528,128h-16V96h16c8.824,0,16,7.176,16,16S282.352,128,273.528,128z M273.528,80h-16V48h16c8.824,0,16,7.176,16,16S282.352,80,273.528,80z">
                                            </path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path
                                                d="M377.528,48V32c-30.88,0-56,25.12-56,56s25.12,56,56,56v-16c-22.056,0-40-17.944-40-40C337.528,65.944,355.472,48,377.528,48z">
                                            </path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path d="M97.528,160v144h304V160H97.528z M385.528,288h-272V176h272V288z">
                                            </path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <rect x="105.528" y="320" width="288" height="16"></rect>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <rect x="105.528" y="352" width="288" height="16"></rect>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <rect x="377.528" y="384" width="16" height="16"></rect>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <rect x="105.528" y="384" width="256" height="16"></rect>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <path
                                                d="M494.472,32h-60.944V0h-392c-22.056,0-40,17.944-40,40v416c0,22.056,17.944,40,40,40h368h24v-16h-24c-13.232,0-24-10.768-24-24s10.768-24,24-24h16h8V112h60.944l-20-40L494.472,32z M377.736,480H41.528c-13.232,0-24-10.768-24-24s10.768-24,24-24h336.208c-5.08,6.704-8.208,14.96-8.208,24C369.528,465.04,372.656,473.296,377.736,480z M417.528,416h-8h-328v-32h-16v32h-24c-9,0-17.312,2.992-24,8.016V40c0-13.232,10.768-24,24-24h24v352h16V16h336V416z M468.584,96h-35.056V48h35.056l-12,24L468.584,96z">
                                            </path>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <rect x="65.528" y="448" width="288" height="16"></rect>
                                        </g>
                                    </g>
                                    <g>
                                        <g>
                                            <rect x="33.528" y="448" width="16" height="16"></rect>
                                        </g>
                                    </g>
                                </svg>
                                <h4>ENGLISH</h4>
                            </div>
                        </li>
                        <li>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1"
                                    viewBox="0 0 512 512">
                                    <title>ENGLISH</title>
                                    <path
                                        d="M458.061,13H150.694c-.019,0-.038,0-.058,0s-.038,0-.058,0H118.833C89.6,13,66,36.936,66,66.168V79H53.939C50.626,79,48,81.213,48,84.526V122a5.949,5.949,0,0,0,5.939,6H66v31H53.939C50.626,159,48,161.213,48,164.526V202a5.949,5.949,0,0,0,5.939,6H66v41H53.939C50.626,249,48,251.213,48,254.526V292a5.949,5.949,0,0,0,5.939,6H66v31H53.939C50.626,329,48,331.213,48,334.526V372a5.949,5.949,0,0,0,5.939,6H66v65.9c0,.217-.078.431-.056.641-.01.431-.078.859-.078,1.293a53.057,53.057,0,0,0,52.993,53.016l314.143,0a6,6,0,0,0,6-6V405h19.061A6.106,6.106,0,0,0,464,398.819V19.152A6.081,6.081,0,0,0,458.061,13ZM60,91H95.2a12.5,12.5,0,1,1,0,25H60Zm0,80H95.2a12.5,12.5,0,1,1,0,25H60Zm0,90H95.2a12.5,12.5,0,1,1,0,25H60Zm0,80H95.2a12.5,12.5,0,1,1,0,25H60Zm18,37H95.2a24.5,24.5,0,1,0,0-49H78V298H95.2a24.5,24.5,0,1,0,0-49H78V208H95.2a24.5,24.5,0,1,0,0-49H78V128H95.2a24.5,24.5,0,1,0,0-49H78V66.168A41.038,41.038,0,0,1,118.833,25H145V393H118.836A52.811,52.811,0,0,0,78,412.289ZM427,486.848l-308.154,0a40.926,40.926,0,1,1-.01-81.851H427ZM433.137,393H157V25H452V153H324.31a43,43,0,1,0,0,86H452V393ZM452,227H324.31c-17.368,0-31.5-13.632-31.5-31s14.13-31,31.5-31H452Z">
                                    </path>
                                </svg>
                                <h4>HINDI</h4>
                            </div>
                        </li>
                        <li>
                            <div>
                                <svg id="Layer_1" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"
                                    data-name="Layer 1">
                                    <title>SCIENCES</title>
                                    <path
                                        d="m255.936 501.772a149.618 149.618 0 0 0 106.9-44.508 151.762 151.762 0 0 0 -54.836-249.244v-149.02h9a6 6 0 0 0 6-6v-37a6 6 0 0 0 -6-6h-124a6 6 0 0 0 -6 6v37a6 6 0 0 0 6 6h9v149.02a149.352 149.352 0 0 0 -69.595 53.131 151.41 151.41 0 0 0 -28.345 88.875c0 83.674 68.13 151.746 151.876 151.746zm-56.936-479.772h112v25h-112zm-56.846 246.149a137.524 137.524 0 0 1 67.781-50.219 6 6 0 0 0 4.065-5.68v-153.25h82v153.25a6 6 0 0 0 4.065 5.68 139.832 139.832 0 0 1 92.585 107.07h-274.389a138.365 138.365 0 0 1 23.893-56.851zm89.513 84.413a4.667 4.667 0 1 1 -4.667-4.662 4.672 4.672 0 0 1 4.667 4.662zm-115.002-15.562h104.416a16.667 16.667 0 1 0 11.838 0h161.39c.4 4.3.633 8.643.633 13.026a139.277 139.277 0 0 1 -40.624 98.782 137.7 137.7 0 0 1 -98.382 40.964c-77.128 0-139.876-62.689-139.876-139.746 0-4.379.218-8.72.605-13.026z">
                                    </path>
                                    <path
                                        d="m178 374.562a18.667 18.667 0 1 0 -18.667 18.666 18.688 18.688 0 0 0 18.667-18.666zm-25.333 0a6.667 6.667 0 1 1 6.666 6.666 6.673 6.673 0 0 1 -6.666-6.666z">
                                    </path>
                                    <path
                                        d="m198.667 438.228a20.667 20.667 0 1 0 -20.667-20.666 20.69 20.69 0 0 0 20.667 20.666zm0-29.333a8.667 8.667 0 1 1 -8.667 8.667 8.677 8.677 0 0 1 8.667-8.662z">
                                    </path>
                                    <path
                                        d="m273 425.9a23.667 23.667 0 1 0 -23.667-23.667 23.694 23.694 0 0 0 23.667 23.667zm0-35.333a11.667 11.667 0 1 1 -11.667 11.666 11.679 11.679 0 0 1 11.667-11.671z">
                                    </path>
                                    <path
                                        d="m326.542 457.864q.578.031 1.15.032a20.692 20.692 0 1 0 -1.15-.032zm-7.529-21.107a8.68 8.68 0 0 1 8.649-8.2c.157 0 .317 0 .477.013a8.667 8.667 0 1 1 -9.126 8.183z">
                                    </path>
                                    <path
                                        d="m335.333 396.9a25 25 0 1 0 -25-25 25.028 25.028 0 0 0 25 25zm0-38a13 13 0 1 1 -13 13 13.014 13.014 0 0 1 13-13z">
                                    </path>
                                    <path
                                        d="m239.667 477.9a21.667 21.667 0 1 0 -21.667-21.672 21.692 21.692 0 0 0 21.667 21.672zm0-31.333a9.667 9.667 0 1 1 -9.667 9.661 9.677 9.677 0 0 1 9.667-9.666z">
                                    </path>
                                </svg>
                                <h4>SCIENCES</h4>
                            </div>
                        </li>
                        <li>
                            <div>
                                <svg id="Layer_1" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"
                                    data-name="Layer 1">
                                    <title>ART</title>
                                    <path
                                        d="m204.055 400.053c47.8 0 92.859-14.635 126.877-41.207 22.137-17.293 38.368-38.846 46.927-62.322a6 6 0 0 0 -2.711-7.294l-38.386-21.443a13.5 13.5 0 0 1 0-23.574l38.386-21.443a6 6 0 0 0 2.711-7.294c-8.563-23.478-24.79-45.029-46.927-62.322-34.018-26.572-79.077-41.207-126.877-41.207s-92.855 14.635-126.877 41.207c-34.905 27.267-54.128 63.791-54.128 102.846s19.223 75.579 54.128 102.846c34.022 26.572 79.077 41.207 126.877 41.207zm-169.005-144.053c0-35.28 17.585-68.446 49.515-93.389s74.354-38.664 119.49-38.664 87.572 13.731 119.49 38.664c18.85 14.725 33 32.7 41.183 52.234l-33.818 18.891a25.5 25.5 0 0 0 0 44.528l33.818 18.891c-8.181 19.535-22.333 37.509-41.183 52.234-31.918 24.933-74.354 38.664-119.49 38.664s-87.572-13.731-119.49-38.664-49.515-58.109-49.515-93.389z">
                                    </path>
                                    <path
                                        d="m105.021 256a29.095 29.095 0 1 0 -29.095 29.094 29.128 29.128 0 0 0 29.095-29.094zm-29.095 17.094a17.094 17.094 0 1 1 17.095-17.094 17.113 17.113 0 0 1 -17.095 17.094z">
                                    </path>
                                    <path
                                        d="m98.153 327.849a29.095 29.095 0 1 0 29.094-29.094 29.127 29.127 0 0 0 -29.094 29.094zm46.189 0a17.095 17.095 0 1 1 -17.1-17.094 17.115 17.115 0 0 1 17.1 17.094z">
                                    </path>
                                    <path
                                        d="m116.983 213.245a29.095 29.095 0 1 0 -29.094-29.094 29.127 29.127 0 0 0 29.094 29.094zm0-46.189a17.095 17.095 0 1 1 -17.094 17.1 17.114 17.114 0 0 1 17.094-17.1z">
                                    </path>
                                    <path
                                        d="m170 348.378a29.095 29.095 0 1 0 29.1-29.095 29.128 29.128 0 0 0 -29.1 29.095zm46.189 0a17.095 17.095 0 1 1 -17.089-17.095 17.114 17.114 0 0 1 17.091 17.095z">
                                    </path>
                                    <path
                                        d="m188.832 192.717a29.095 29.095 0 1 0 -29.094-29.095 29.128 29.128 0 0 0 29.094 29.095zm0-46.189a17.095 17.095 0 1 1 -17.094 17.094 17.114 17.114 0 0 1 17.094-17.094z">
                                    </path>
                                    <path
                                        d="m241.851 327.849a29.095 29.095 0 1 0 29.1-29.094 29.128 29.128 0 0 0 -29.1 29.094zm46.189 0a17.095 17.095 0 1 1 -17.094-17.094 17.114 17.114 0 0 1 17.094 17.094z">
                                    </path>
                                    <path
                                        d="m260.682 213.245a29.095 29.095 0 1 0 -29.1-29.094 29.128 29.128 0 0 0 29.1 29.094zm0-46.189a17.095 17.095 0 1 1 -17.1 17.1 17.114 17.114 0 0 1 17.1-17.1z">
                                    </path>
                                    <path
                                        d="m482.949 129h-4.949v-74a5.81 5.81 0 0 0 -5.774-6h-55.215a6.009 6.009 0 0 0 -6.011 6v74h-4.712a6.165 6.165 0 0 0 -6.288 5.9v53.867a92.677 92.677 0 0 0 7.638 36.586 81.068 81.068 0 0 1 6.229 24.123l13.918 197.873a16.854 16.854 0 0 0 33.623 0l13.892-197.878a80.95 80.95 0 0 1 6.184-24.123 92.57 92.57 0 0 0 7.516-36.586v-53.862a5.955 5.955 0 0 0 -6.051-5.9zm-5.949 12v17h-65v-17zm-54-80h43v68h-43zm47.447 159.63a92.944 92.944 0 0 0 -7.088 27.777c0 .049-.015.1-.019.148l-13.891 197.945a4.84 4.84 0 0 1 -9.656 0l-13.893-197.945c0-.05-.007-.1-.012-.148a93.173 93.173 0 0 0 -7.22-27.777 80.738 80.738 0 0 1 -6.668-31.868v-18.762h65v18.762a80.637 80.637 0 0 1 -6.553 31.868z">
                                    </path>
                                </svg>
                                <h4>ART</h4>
                            </div>
                        </li>
                        <li>
                            <div>
                                <svg id="Layer_1" enable-background="new 0 0 512 512" viewBox="0 0 512 512"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <title>MUSIC</title>
                                    <path
                                        d="m501 242c0-3.31371-2.68628-6-6-6h-479c-3.31371 0-6 2.68629-6 6v194c0 3.31372 2.68629 6 6 6h479c3.31372 0 6-2.68628 6-6zm-315 70v118h-30v-118zm29 0v57c-.15036 3.15991 2.28935 5.84341 5.44926 5.99377.07253.00345.14513.00552.21773.00623h8.33301v55h-31v-118zm99 0v118h-31v-118zm28 0v57c.08804 3.3483 2.83453 6.01312 6.18399 6h7.81601v55h-30v-118zm97 0v118h-28v-118zm-40 118h-31v-55h8.34399c3.15836-.03098 5.69363-2.61642 5.66266-5.77481-.00073-.0751-.00296-.15018-.00665-.22519v-57h17zm-29-67h-16v-51h16zm-99 67h-30v-55h7.827c3.34732.01245 6.09032-2.65366 6.173-6v-57h16zm-28-67h-16v-51h16zm-99 67h-31v-55h8.045c3.29382-.00491 5.96001-2.67905 5.9551-5.97287-.00001-.00906-.00005-.0181-.0001-.02713v-57h17zm-29-67h-16v-51h16zm-22.115 12h8.115v55h-28v-118h14v57c-.05193 3.26138 2.54984 5.94736 5.81122 5.9993.02459.00036.04918.00061.07378.0007zm397.115 55h-39v-124.49399c0-3.314-3.069-5.50601-6.38199-5.50601h-377.23601c-3.313 0-6.382 2.19199-6.382 5.50601v124.49399h-39v-182h468z">
                                    </path>
                                    <path
                                        d="m71 282h32c3.31371 0 6-2.68628 6-6s-2.68629-6-6-6h-32c-3.31371 0-6 2.68628-6 6s2.68629 6 6 6z">
                                    </path>
                                    <path
                                        d="m145 282h32c3.31371 0 6-2.68628 6-6s-2.68629-6-6-6h-32c-3.31371 0-6 2.68628-6 6s2.68629 6 6 6z">
                                    </path>
                                    <path
                                        d="m206.589 119.863c-13.418 2.662-22.32201 14.509-19.961 26.408 2.039 10.28101 11.94299 17.289 23.242 17.289 1.82646-.00121 3.64844-.18073 5.44-.536 13.418-2.662 22.243-14.509 19.882-26.409-.522-2.633-1.192-5.08-3.192-7.26399v-53.02701c.15309-3.15923-2.28386-5.84439-5.44308-5.99748-.39787-.01928-.79666.003-1.18991.06648l-63.356 9.683c-2.91319.45588-5.04846 2.9836-5.01102 5.93201v51.074c-4.56039-1.57469-9.46083-1.89146-14.186-.91701h-.01399c-6.16783 1.15924-11.7238 4.47057-15.678 9.34399-7.23745 8.60645-6.12766 21.45045 2.47878 28.68791 1.13776.95679 2.37689 1.78609 3.69522 2.47308 3.85048 2.12178 8.17969 3.22336 12.576 3.2 1.83698-.00084 3.66943-.18204 5.47099-.541 6.16487-1.15973 11.71751-4.47118 15.668-9.34399 3.93967-4.74664 5.56053-11.00137 4.422-17.064-.51183-2.2316-1.32921-4.3819-2.429-6.39v-55.36999l51-7.851v37.284c-4.33218-1.40518-8.95577-1.65713-13.41499-.731zm-48.98899 42.66601c-4.57298 5.33311-12.2007 6.84602-18.463 3.662-4.19019-1.98206-5.98024-6.98566-3.99818-11.17584.35419-.74878.81728-1.44099 1.37419-2.05415 2.18132-2.64018 5.22887-4.42052 8.60001-5.024 1.03555-.20724 2.08893-.31242 3.145-.314 2.34631-.02386 4.6597.5531 6.72 1.67599 4.19055 1.98257 5.98047 6.98689 3.99789 11.17744-.35394.74812-.81657 1.43979-1.37289 2.05255h-.00302zm55.39999-11.276c-6.925 1.377-13.436-1.908-14.509-7.317s3.689-10.927 10.617-12.3c1.0352-.20729 2.08824-.31247 3.144-.314 2.34607-.02242 4.65894.55519 6.71899 1.67799 2.35492 1.19708 4.05635 3.37846 4.644 5.95399 1.07301 5.40601-3.68999 10.92501-10.61499 12.29902z">
                                    </path>
                                    <path
                                        d="m291 169.728c-5.20792.97401-9.90506 3.75462-13.26401 7.85201-3.32867 4.05794-4.70935 9.37196-3.77701 14.537 1.73401 8.73801 10.04001 14.7 19.57599 14.7 1.5174-.00075 3.03101-.1508 4.51901-.448 5.1731-.97632 9.8309-3.75923 13.142-7.85201 3.37454-4.03722 4.81601-9.34763 3.94601-14.537-.40326-2.03651-1.12622-3.99641-2.142-5.80699v-41.724c-.20532-3.50984-3.21707-6.18867-6.72693-5.98334-.17499.01024-.34952.02769-.52307.05234l-50.46201 7.673c-2.96988.42978-5.20084 2.93245-5.28799 5.93199v38.8c-8.53358-2.19606-17.56604.75935-23.151 7.575-3.30414 4.06909-4.65208 9.38515-3.686 14.537 1.73399 8.73801 10.086 14.7 19.62199 14.7 1.52499-.00082 3.04625-.15086 4.54201-.448 5.17595-.97687 9.83704-3.75943 13.15298-7.85201 3.27597-4.08241 4.58774-9.40042 3.586-14.53799-.36212-1.82094-1.06293-3.55769-2.06601-5.12v-42.5l39-5.841v26.444c-3.28621-.74758-6.69253-.79936-9.99996-.152zm-39.924 34.255c-1.55222 1.84935-3.70105 3.09918-6.076 3.534-4.73399.942-9.327-1.26801-10.032-4.819-.2583-1.70442.2357-3.43706 1.354-4.74899 1.55275-1.85004 3.7029-3.09966 6.07899-3.533.72247-.14392 1.45734-.21661 2.194-.217 3.88 0 7.244 2.039 7.838 5.035.25844 1.70444-.23558 3.43712-1.354 4.74899zm50.70702-12.91699c-1.5524 1.85014-3.70215 3.1001-6.078 3.534-4.73499.942-9.328-1.26801-10.03201-4.819-.2583-1.70442.23569-3.43706 1.354-4.74899 1.55258-1.85023 3.70282-3.0999 6.07901-3.533.7291-.14491 1.47061-.21826 2.21399-.21899 1.65723-.01976 3.29245.38069 4.75299 1.164 2.7204 1.23961 3.92081 4.44983 2.68121 7.17024-.24301.53329-.57101 1.02361-.97122 1.45175h.00003z">
                                    </path>
                                    <path
                                        d="m98.41998 199.409c-.29998-1.49402-1.41998-2.917-1.41998-4.22303v-28.44501c-.172-3.479-3.13165-6.15991-6.61066-5.98792-.19727.0097-.39392.02875-.58936.05695l-34.82098 5.33302c-2.90643.45886-5.03046 2.98901-4.979 5.93097v24.763c-1.92572-.22784-3.87506-.15668-5.77899.211-8.84601 1.75604-14.83099 9.70001-13.24103 17.711.82635 4.08313 3.4129 7.59332 7.06799 9.59204 2.52313 1.39099 5.35992 2.11389 8.24103 2.09998 1.18756-.00049 2.37225-.11737 3.53699-.349 8.84601-1.755 14.91003-9.70001 13.32098-17.71002-.25299-1.27498-1.14697-2.49202-1.14697-3.63301v-27.53101l23-3.5v14.10004c-1.83765-.18903-3.69312-.10712-5.50702.24298-4.05023.76233-7.70197 2.92828-10.31299 6.117-4.92932 5.8642-4.17151 14.61407 1.69263 19.5434.75232.63239 1.5697 1.18298 2.43835 1.64264 2.51819 1.39148 5.35095 2.1145 8.22803 2.09998 1.18524-.00183 2.36749-.11908 3.52997-.34998 4.02209-.76276 7.64215-2.93005 10.21399-6.11505 2.68982-3.22284 3.83588-7.46075 3.13702-11.59997zm-50.92798 14.91998c-1.21454.27118-2.48566.10876-3.59302-.45898-.59473-.28925-1.0401-.81561-1.22699-1.45001-.26001-1.29797 1.27899-3.12 3.72803-3.60199.39252-.078.79175-.11749 1.19196-.11798.83594-.01263 1.6615.18616 2.40002.578.59448.28973 1.03949.81647 1.22601 1.45099.258 1.29998-1.28002 3.11901-3.72601 3.59997zm38.87177-11.50507c-.10553.27887-.27338.52997-.49078.73407l.00104.00201c-1.69708 1.89832-4.44611 2.44336-6.73901 1.336-1.01038-.38232-1.51953-1.51129-1.13721-2.52167.10559-.27899.27362-.53021.49121-.73431.80719-.94788 1.9198-1.58441 3.146-1.80005.39221-.078.79108-.11749 1.19098-.11798.83612-.013 1.6618.18622 2.40002.57898 1.01086.38251 1.52026 1.51209 1.13775 2.52295z">
                                    </path>
                                </svg>
                                <h4>MUSIC</h4>
                            </div>
                        </li>
                        <li>
                            <div>
                                <svg id="Layer_1" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg"
                                    data-name="Layer 1">
                                    <title>SOCIAL SCIENCES</title>
                                    <path
                                        d="m443.233 20h-298-.048-.049-30.787c-28.443 0-51.349 23.513-51.349 51.955v366.217c0 .168-.11.334-.1.5-.012.457-.077.917-.077 1.377a51.616 51.616 0 0 0 51.553 51.582h304.594a6.023 6.023 0 0 0 6.026-6v-85.631h18.233a5.424 5.424 0 0 0 5.771-5.535v-368.092c0-3.313-2.453-6.373-5.767-6.373zm-368.233 51.955c0-21.826 17.523-39.955 39.349-39.955h24.651v356h-24.649a50.7 50.7 0 0 0 -39.351 19.009zm338 407.672h-298.608a39.815 39.815 0 0 1 -.041-79.627h298.649zm24-91.627h-286v-356h286z">
                                    </path>
                                    <path
                                        d="m403 80a6 6 0 0 0 -6-6h-205a6 6 0 0 0 -6 6v253a6 6 0 0 0 6 6h205a6 6 0 0 0 6-6zm-205 6h193v241h-193z">
                                    </path>
                                    <path
                                        d="m336.64 181.666a27.192 27.192 0 1 0 -26-19.2l-46.323 22.228a27.2 27.2 0 1 0 -1.868 36.654l47.734 21.891a27.251 27.251 0 1 0 5.3-10.771l-46.512-21.331a27.161 27.161 0 0 0 .768-15.734l46.912-22.51a27.126 27.126 0 0 0 19.989 8.773zm0 52.668a15.2 15.2 0 1 1 -15.2 15.2 15.213 15.213 0 0 1 15.2-15.2zm-93.28-17.134a15.2 15.2 0 1 1 15.2-15.2 15.213 15.213 0 0 1 -15.2 15.2zm93.28-77.923a15.2 15.2 0 1 1 -15.2 15.2 15.214 15.214 0 0 1 15.2-15.204z">
                                    </path>
                                </svg>
                                <h4>SOCIAL SCIENCES</h4>
                            </div>
                        </li>
                        <li>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1"
                                    viewBox="0 0 512 512">
                                    <title>MATHEMATICS</title>
                                    <path
                                        d="M455.266,94a6.449,6.449,0,0,0-6.792,1.239L201,336.857V38.393c0-3.314-2.21-6.393-5.523-6.393H59.4A6.7,6.7,0,0,0,53,38.393V85.864c0,.665-.4,1.383-.4,2.136s.4,1.471.4,2.136v31.728c0,.665-.4,1.383-.4,2.136s.4,1.471.4,2.136v30.728c0,.665-.4,1.383-.4,2.136s.4,1.471.4,2.136v31.728c0,.665-.4,1.383-.4,2.136s.4,1.471.4,2.136v30.728c0,.665-.4,1.383-.4,2.136s.4,1.471.4,2.136v29.728c0,.665-.4,1.383-.4,2.136s.4,1.471.4,2.136v31.728c0,.665-.4,1.383-.4,2.136s.4,1.471.4,2.136v30.728c0,.665-.4,1.383-.4,2.136s.4,1.471.4,2.136v30.728c0,.665-.4,1.383-.4,2.136s.4,1.471.4,2.136v30.728c0,.665-.4,1.383-.4,2.136s.4,1.471.4,2.136v30.685A6.507,6.507,0,0,0,59.4,444H92.04L65.955,469.406a6.248,6.248,0,0,0-1.362,6.707A6.142,6.142,0,0,0,70.149,480H452.875A6.455,6.455,0,0,0,459,473.607V99.528A6.06,6.06,0,0,0,455.266,94ZM189,348.585l-82,80.972V44h82ZM65,411H76a6,6,0,0,0,0-12H65V376H82a6,6,0,0,0,0-12H65V341H76a6,6,0,0,0,0-12H65V306H82a6,6,0,0,0,0-12H65V270H76a6,6,0,0,0,0-12H65V236H82a6,6,0,0,0,0-12H65V201H76a6,6,0,0,0,0-12H65V165H82a6,6,0,0,0,0-12H65V130H76a6,6,0,0,0,0-12H65V94H82a6,6,0,0,0,0-12H65V44H95V432H65Zm19.872,57L447,113.783V188H418.3a6,6,0,0,0,0,12H447v36H430.1a6,6,0,0,0,0,12H447v39H418.3a6,6,0,0,0,0,12H447v40H430.1a6,6,0,0,0,0,12H447v40H418.3a6,6,0,0,0,0,12H447v35H430.1a6,6,0,0,0,0,12H447v18Z">
                                    </path>
                                    <path
                                        d="M371.4,282.915a5.917,5.917,0,0,0-6.486,1.293l-109.4,109.106a6.355,6.355,0,0,0-1.3,6.76A6.225,6.225,0,0,0,259.779,404H369.2c3.314,0,5.8-3.123,5.8-6.437V288.457A5.911,5.911,0,0,0,371.4,282.915ZM363,392H274.294L363,302.913Z">
                                    </path>
                                </svg>
                                <h4>MATHEMATICS</h4>
                            </div>
                        </li>
                        <li>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1"
                                    viewBox="0 0 512 512">
                                    <title>INFORMATION TECHNOLOGY</title>
                                    <path
                                        d="M463.431,397H425V369.2c0-25.365-21.054-46.2-46.418-46.2H262V241.669c54.393-3.112,97.69-48.241,97.69-103.274,0-57.043-46.515-103.451-103.69-103.451S152.31,81.352,152.31,138.4c0,55.033,43.3,100.162,97.69,103.274V323H133.418C108.054,323,87,343.833,87,369.2V397H48.569A5.485,5.485,0,0,0,43,402.808v68.248C43,474.37,45.256,477,48.569,477h87.747A5.69,5.69,0,0,0,142,471.056V402.808A5.577,5.577,0,0,0,136.316,397H99V369.2c0-18.747,15.67-34.2,34.418-34.2H250v62H212.126A5.949,5.949,0,0,0,206,402.808v68.248A6.061,6.061,0,0,0,212.126,477h87.748A6.061,6.061,0,0,0,306,471.056V402.808A5.949,5.949,0,0,0,299.874,397H262V335H378.582C397.33,335,413,350.451,413,369.2V397H375.684A5.577,5.577,0,0,0,370,402.808v68.248A5.69,5.69,0,0,0,375.684,477h87.747c3.313,0,5.569-2.63,5.569-5.944V402.808A5.485,5.485,0,0,0,463.431,397ZM164.31,138.4c0-50.426,41.131-91.451,91.69-91.451s91.69,41.025,91.69,91.451S306.559,229.846,256,229.846,164.31,188.821,164.31,138.4ZM130,465H55V409h75Zm164,0H218V409h76Zm163,0H382V409h75Z">
                                    </path>
                                    <path
                                        d="M301,196.311V180h-.369A6.7,6.7,0,0,0,307,173.578V81.787c0-3.313-3.056-5.787-6.369-5.787H218.617C209.041,76,201,83.578,201,93.154v91.323c0,.065.126.129.128.194,0,.091.06.027.06.118A17.307,17.307,0,0,0,218.617,202h75.95C297.881,202,301,199.624,301,196.311ZM213,93.154A5.416,5.416,0,0,1,218.617,88H225v80h-6.383a19.688,19.688,0,0,0-5.617.426ZM289,190H218.617a5.012,5.012,0,1,1,0-10H289Zm-52-22V88h58v79.578a5.117,5.117,0,0,1-.509.422Z">
                                    </path>
                                </svg>
                                <h4>INFORMATION TECHNOLOGY</h4>
                            </div>
                        </li>

                        <li>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                    <g id="outline">
                                        <path
                                            d="M76,368a20,20,0,1,0,15.962,32h9.947a21.975,21.975,0,0,0,20.872-15.043L125.767,376H224a32.045,32.045,0,0,0,31.832-28.716l12.1-13.269,4.954,5.946L280,361.3V392a8,8,0,0,0-8,8v64a7.959,7.959,0,0,0,1.444,4.577A19.991,19.991,0,1,0,311.6,472H328.4A20,20,0,1,0,360,460.038v-9.947a21.972,21.972,0,0,0-15.043-20.871L336,426.234V363.062a35.708,35.708,0,0,0,2.1-42.327l-2.852-4.279L312.2,247.305l5.332-34.656,3.684,2.211,14.51,8.7a28.033,28.033,0,0,0,32.292-2.467L428.4,170.964l15.177-7.588a8,8,0,0,0,4.012-4.626l8-24a8,8,0,0,0-2.728-8.882l-26.418-20.221a8,8,0,0,0-8.8-.608l-21.582,12.22A8,8,0,0,0,392,124.221v11.985l-39.234,29.246-3.109-3.109-24-24L312,124.686V120h16a8,8,0,0,0,8-8V96a8,8,0,0,0,7.761-9.94l-5.592-22.366A8,8,0,0,0,344,56a40.045,40.045,0,0,0-40-40H288a40.045,40.045,0,0,0-40,40,8,8,0,0,0,8,8v49.441l-33.569,6.714a8.007,8.007,0,0,0-2.316.852l-40,22.222L158.4,155.292A28.014,28.014,0,0,0,144,179.768V272a8,8,0,0,0,5.47,7.589l24,8a8,8,0,0,0,8.187-1.932l24-24a8,8,0,0,0,0-11.314l-13.089-13.089,6.679-40.074a7.982,7.982,0,0,0,10.2,1.68l12.817-7.69-6.217,55.947A8,8,0,0,0,224,256h8v4.127a8.054,8.054,0,0,0-.789,1.128L209.187,299.8,195.719,320H160a8,8,0,0,0-8-8H88a7.959,7.959,0,0,0-4.577,1.444A19.991,19.991,0,1,0,80,351.6V368.4A20.047,20.047,0,0,0,76,368Zm0,24a4,4,0,1,1,4-4A4,4,0,0,1,76,392Zm148-32h-2.584L208.99,328.936l7.6-11.395L239.8,346.552A16.026,16.026,0,0,1,224,360Zm100.732-30.478.06.089A19.665,19.665,0,0,1,324.343,352H293.766l-3.647-10.94ZM296,368h24v24H296Zm0,108a4,4,0,1,1-4-4A4,4,0,0,1,296,476Zm52,4a4,4,0,1,1,4-4A4,4,0,0,1,348,480Zm-8.1-35.6a5.994,5.994,0,0,1,4.1,5.693V456H288V408h32v24a8,8,0,0,0,5.47,7.589Zm16.885-261.984,48-35.779A8,8,0,0,0,408,140.221V128.884l12.921-7.316L438.605,135.1l-5.147,15.442-13.036,6.518a8.04,8.04,0,0,0-1.532,1L357.8,208.789a12.013,12.013,0,0,1-13.839,1.057l-8.327-5,10.788-23.118A8,8,0,0,0,356.781,182.414Zm-29.366,2.209-5.577,11.95-1.677-1.006,5.346-34.746,8.874,8.874ZM320,88v16H304a8,8,0,0,0-8,8v6.241l-24-4.8V96h16a8,8,0,0,0,7.155-4.422L308.944,64h12.81l4.074,16.3A8,8,0,0,0,320,88ZM288,32h16a24.042,24.042,0,0,1,22.629,16H265.371A24.042,24.042,0,0,1,288,32Zm3.056,32-8,16H272V64ZM173.839,270.847,160,266.234V179.768a12.008,12.008,0,0,1,6.172-10.49l14.471-8.039,11.04,21.621-3.8,2.28a8,8,0,0,0-3.776,5.545l-8,48a8.008,8.008,0,0,0,2.235,6.972L188.687,256Zm37.747-91.928-16.3-25.814,31.511-17.5L264,128.158l36.057,7.212,11.421,11.421L297.137,240h-64.2l7.013-63.117a8,8,0,0,0-12.067-7.743ZM298.234,256l19.647,58.94L282.65,326.684l-22.6-27.118A52.1,52.1,0,0,1,248,266.277V256Zm-63.1,30.646a68.02,68.02,0,0,0,12.63,23.164l9.832,11.8-9.2,10.083-22.754-28.443ZM194.584,336l4.8,12,4.8,12H160V336ZM96,328h48v32H120a8,8,0,0,0-7.59,5.47L107.6,379.9a6,6,0,0,1-5.694,4.1H96Zm-20,8a4,4,0,1,1,4-4A4,4,0,0,1,76,336Z">
                                        </path>
                                    </g>
                                </svg>
                                <h4>PHYSICAL EDUCATION</h4>
                            </div>
                        </li>
                        <li>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1"
                                    viewBox="0 0 512 512">
                                    <title>FINANCIAL STUDIES </title>
                                    <path
                                        d="M490,130.7V66.041C490,44.542,473.2,27,452.548,27H59.448C38.8,27,22,44.542,22,66.041V382.957C22,404.457,38.8,422,59.448,422H140v29.163c0,.116.19.233.2.348-.006.249.085.5.085.749a32.765,32.765,0,0,0,32.735,32.689l178.154,0a5.856,5.856,0,0,0,5.829-6V432h8.626A6.707,6.707,0,0,0,372,425.572V422h80.548C473.2,422,490,404.457,490,382.957V130.849c0-.026,0-.051,0-.077S490,130.721,490,130.7ZM59.448,39h393.1C466.58,39,478,51.159,478,66.041V125H34V66.041C34,51.159,45.416,39,59.448,39ZM173.063,420A33.956,33.956,0,0,0,152,426.971V236.74c0-11.408,9.654-20.74,21.062-20.74H185V420ZM345,472.947l-172.131,0A20.476,20.476,0,1,1,173.063,432H345ZM360,420H197V216h36V359.839a5.977,5.977,0,0,0,9.607,4.773l36.1-27.511,36.106,27.511a5.994,5.994,0,0,0,3.636,1.227,5.086,5.086,0,0,0,2.436-.623A5.8,5.8,0,0,0,324,359.839V216h36ZM296,216V334.891l-13.461-10.106a6.275,6.275,0,0,0-3.734-1.227,5.855,5.855,0,0,0-3.589,1.227L262,334.89V216Zm12,0h4V347.725l-4-3.691Zm-58,0V344.033l-5,3.692V216ZM452.548,410H372V210.051A6.374,6.374,0,0,0,365.626,204H173.062C155.038,204,140,218.715,140,236.74V410H59.448C45.416,410,34,397.839,34,382.957V137H478V382.957C478,397.839,466.58,410,452.548,410Z">
                                    </path>
                                    <path
                                        d="M143.31,110.531c14.869,0,26.966-12.558,26.966-27.994s-12.1-27.994-26.966-27.994S116.344,67.1,116.344,82.537,128.441,110.531,143.31,110.531Zm0-43.988c8.252,0,14.966,7.175,14.966,15.994s-6.714,15.994-14.966,15.994-14.966-7.175-14.966-15.994S135.058,66.543,143.31,66.543Z">
                                    </path>
                                    <path
                                        d="M211.448,110.531c14.869,0,26.966-12.558,26.966-27.994s-12.1-27.994-26.966-27.994S184.482,67.1,184.482,82.537,196.579,110.531,211.448,110.531Zm0-43.988c8.252,0,14.966,7.175,14.966,15.994S219.7,98.531,211.448,98.531s-14.966-7.175-14.966-15.994S203.2,66.543,211.448,66.543Z">
                                    </path>
                                    <path
                                        d="M75.172,110.531c14.869,0,26.966-12.558,26.966-27.994s-12.1-27.994-26.966-27.994S48.206,67.1,48.206,82.537,60.3,110.531,75.172,110.531Zm0-43.988c8.252,0,14.966,7.175,14.966,15.994S83.424,98.531,75.172,98.531,60.206,91.356,60.206,82.537,66.92,66.543,75.172,66.543Z">
                                    </path>
                                </svg>
                                <h4>FINANCIAL STUDIES</h4>
                            </div>
                        </li>
                    </ul>


                </div>
            </div>

            <div class="container ">
                <div class="row justify-content-center mt-4 mt-md-5">

                    <div class="col-lg-12 col-12 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="content-text ">
                            <div class="text readMoreText">

                                <p>The academic session commences on April 1 every year. The school is structured in
                                    three levels,</p>
                                <ul class="list">
                                    <li><i class="fa-regular fa-circle-right"></i>Junior School, grade 4-6</li>
                                    <li><i class="fa-regular fa-circle-right"></i>Middle School, grade 7-9</li>
                                    <li><i class="fa-regular fa-circle-right"></i>Senior School grade 10-12</li>
                                </ul>
                                <p>The curriculum encourages students to understand basic concepts and develop a base
                                    through which to inform their approach to higher learning. Project and activity
                                    based learning are introduced in the Junior School even while classroom pedagogy
                                    becomes content centric. Interdisciplinary learning is a big part of Middle School
                                    pedagogy. </p>
                                <p>Students are trained to become independent learners and approach a subject hands-on.
                                    The Research Lab and the Learning Resource Center become vehicles towards realising
                                    these. Subject specific laboratories for Science, English, Mathematics and Geography
                                    provide more legroom for focussed learning. Teaching of Foreign Languages </p>
                                <p>The CBSE has mandated a three language formula making it mandatory for each student
                                    to take up a third language. Students therefore can choose from German and
                                    Sanskrit, a third language they prefer to learn. </p>
                                <!-- <p>Additionally, we also offer certificate language courses in German and French. It's
                                    widely accepted that learning a new language helps one acquire better comprehension
                                    and concentration skills alongside opening a window to a whole new world of
                                    literature and culture. </p> -->
                                <p>High academic achievers from grade 4 through 11 are felicitated during Graduation Day
                                    while grade 12, board examination achievers are felicitated during Founder's Day
                                    celebrations. Students at the top of their classes, in grade 10 and grade 12 are
                                    also felicitated during Founder's celebrations; the Principal's award is conferred
                                    upon the grade 10 topper while the Dr Anil Wilson award is conferred to the grade 12
                                    topper. </p>

                            </div>
                            <!-- <div class="text readMoreText mt-4 mt-md-5">
                        <h4 class="title-medium">SUBJECTS AFTER GRADE 10</h4>
                        <p>Students may not always be awarded their choice of subjects after grade 10. Their aptitude for and competence in subjects will determine the outcome. </p>
                    </div> -->
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <section class="style-section-3 bg1 mt-5 pb-5">
            <div class="container ">
                <div class="row justify-content-center">
                    <div class="col-lg-11 col-12 wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                        <div class="content-text mt-5">
                            <h3 class="title-medium">The following subjects are offered by Scottish International School for CBSE
                                (X)</h3>
                            <div class="text readMoreText">
                                <ul class="list">
                                    <li><i class="fa-regular fa-circle-right"></i>LANGUAGE I (English Language and Literature)</li>
                                    <li><i class="fa-regular fa-circle-right"></i>LANGUAGE II (HINDI Language and Literature) </li>
                                    <li><i class="fa-regular fa-circle-right"></i>MATHEMATICS</li>
                                    <li><i class="fa-regular fa-circle-right"></i>SCIENCE</li>
                                    <li><i class="fa-regular fa-circle-right"></i>SOCIAL SCIENCE</li>
                                    <li><i class="fa-regular fa-circle-right"></i>Computer Applications</li>
                                    <!-- <li><i class="fa-regular fa-circle-right"></i>ADDITIONAL SUBJECT (ANY ONE SUBJECT)
                                        (1) Painting
                                        (2) Music
                                        (3) Computer Applications</li> -->
                                </ul>

                            </div>
                        </div>

                        <div class="content-text mt-4 mt-lg-5">
                            <h3 class="title-medium">SCHEME OF STUDIES: CBSE (XII)</h3>
                            <div class="text readMoreText">
                                <p>A list of the streams and options under each stream is given below for grade XII</p>
                                <p>* General Studies * Work Experience * Physical and Health Education</p>

                                <div class="row">
                                    <div class="col-xl-4 col-lg-4 col-md-12  col-12">
                                        <div class="sos">
                                            <h5>A. SCIENCE STREAM</h5>
                                            <p><b>COMPULSORY SUBJECTS:</b></p>
                                            <p>1. English Core</p>
                                            <p>2. Physics</p>
                                            <p>3. Chemistry</p>
                                            <p>4. Mathematics/Biology</p>
                                            <p><b>ANY ONE ELECTIVE out of the following subjects-</b></p>
                                            <p>5. Computer Science / Physical Education / Painting / Music / Economics /
                                                Hindi Core / Geography</p>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-12">
                                        <div class="sos">
                                            <h5>A. COMMERCE STREAM</h5>
                                            <p><b>COMPULSORY SUBJECTS:</b></p>
                                            <p>1. English Core</p>
                                            <p>2. Accounts</p>
                                            <p>3. Business Studies</p>
                                            <p>4. Economics</p>
                                            <p><b>ANY ONE ELECTIVE out of the following subjects-</b></p>
                                            <p>5. Mathematics / Informatics Practices / Physical Education / Painting /
                                                Music / Geography / Hindi Core</p>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-12 col-12">
                                        <div class="sos">
                                            <h5>A. HUMANITIES STREAM</h5>
                                            <p><b>COMPULSORY SUBJECTS:</b></p>
                                            <p>1. English Core</p>

                                            <p><b>ANY FOUR ELECTIVES out of the following</b></p>
                                            <p>2. History</p>
                                            <p>3. Political Science</p>
                                            <p>4. Psychology</p>
                                            <p>5. Economics</p>
                                            <p>6. Mathematics / Informatics Practices / Physical Education / Painting /
                                                Music / Geography / Hindi Core<br>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <p class="m-0">The School reserves the right to withdraw a subject if the criteria (the
                                    minimum number of students) is not met. The School also reserves the right to
                                    exercise its discretion in the matter of choice of subjects.</p>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </section>
        <section class="row" style='margin-bottom: 160px;'>
            <%- include('./partials/footerBottom')%>
        </section>
        <link rel="stylesheet" href="/stylesheets/contact-us.css">
        <link rel="stylesheet" href="/stylesheets/page-title.css">
        <link rel="stylesheet" href="/stylesheets/navbottom.css">
        <link rel="stylesheet" href="/stylesheets/academics.css">