<% layout('layouts/boilerplate')%>
    <%- include('./partials/fixedSocials')%>
        <section class="brand-hero row">
            <!--<iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3444.1434557992666!2d78.05572211552051!3d30.3184371125311!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390929b7249d5e1f%3A0x6a0dbc429180e02b!2sWelham%20Boys&#39;%20School!5e0!3m2!1sen!2sin!4v1594274963609!5m2!1sen!2sin"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>-->
            <div class="animate-banner">
                <picture class="zoom">
                    <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-pause="false">
                        <div class="carousel-inner">
                            <div class="carousel-item active" data-bs-interval="3000">
                                <img src="https://res.cloudinary.com/djfy7fvq1/image/upload/v1683454348/Screenshot_2023-05-07_at_3.41.47_PM_wt8wpn.png"
                                    class="d-block w-100" alt="..." style="height: 70vh;">
                                <!-- <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <p>Some representative placeholder content for the first slide.</p>
                        </div> -->
                            </div>
                            <div class="carousel-item" data-bs-interval="3000">
                                <img src="https://res.cloudinary.com/djfy7fvq1/image/upload/v1679174855/Scottish/qd8pkstxjoq0udwuwoc7.jpg"
                                    class="d-block w-100" alt="..." style="height: 70vh;">
                                <!-- <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <p>Some representative placeholder content for the first slide.</p>
                        </div> -->
                            </div>
                        </div>
                    </div>
                </picture>
            </div>
            <div class="page-title align-items-start">
                <div class="container">
                    <div class="banner-content-inner">
                        <h1>Admissions <a href="/"><i class="fa-solid fa-arrow-left" style="color: #eabd57;"></i>
                                Home</a></h1>
                    </div>
                </div>
            </div>
        </section>

        <div class="container-fuild">
            <div class="row">
                <section class="inner-entry ">
                    <div class="container wow fadeInUp" data-wow-duration="1.5s" data-wow-delay=".2s"
                        style="visibility: visible; animation-duration: 1.5s; animation-delay: 0.2s; animation-name: fadeInUp;">
                        <div class="mainTitle">
                            <p class="title-branding mb-2"><img class="img-fluid"
                                    src="/assests/webp/SISTransparentLogoWhite.webp"></p>
                            <h2>Overview</h2>
                        </div>
                        <p class="text-center mt-4" style="color: whitesmoke;font-size: larger;">We do not have any
                            special quota or reservation for any community or nonresidents of India</p>
                    </div>
                </section>
            </div>
            <div class="container px-5 py-5">
                <div class="row">
                    <div class="content-text mt-0 pt-0">
                        <h3 class="title-medium">REGISTRATION / ADMISSION: OPEN TO ALL</h3>
                        <div class="text readMoreText">

                            <ul class="list pt-0 pt-md-2">
                                <li><i class="fa-regular fa-circle-right"></i>Admission is open to all, irrespective of
                                    class, creed and community.</li>
                                <!-- <li><i class="fa-regular fa-circle-right"></i>The main entry is in classes IV, V, VI and VII. Vacancies in other classes are against
                                    withdrawals.</li> -->
                                <li><i class="fa-regular fa-circle-right"></i>Registration for admission is mandatory.
                                </li>
                                <li><i class="fa-regular fa-circle-right"></i>Registration and examination fee is
                                    neither refundable nor transferable.</li>
                                <li><i class="fa-regular fa-circle-right"></i>Registration does not guarantee admission.
                                </li>
                                <li><i class="fa-regular fa-circle-right"></i>Admissions to all classes are based on
                                    Proficiency &amp; Aptitude Assessment and
                                    interaction with the child and his parents.</li>
                                <li><i class="fa-regular fa-circle-right"></i>For admission to Classes IV - IX the child
                                    will be assessed in English, Hindi,
                                    Mathematics and Life Skills.</li>
                                <!--<li>For Classes VI - IX the assessment is in English, Hindi, Math, Science and Life Skills.</li>-->
                                <li class="subjects"><i class="fa-regular fa-circle-right"></i>For admission to Class XI
                                    the child will be assessed in the following
                                    subjects:<br>

                                    <ul class="wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                                        <li class="col mb-3 text-center">
                                            <div>
                                                <svg id="Layer_1" viewBox="0 0 512 512"
                                                    xmlns="http://www.w3.org/2000/svg" data-name="Layer 1">
                                                    <title>Science Stream - English, Math &amp; Science</title>
                                                    <path
                                                        d="m255.936 501.772a149.618 149.618 0 0 0 106.9-44.508 151.762 151.762 0 0 0 -54.836-249.244v-149.02h9a6 6 0 0 0 6-6v-37a6 6 0 0 0 -6-6h-124a6 6 0 0 0 -6 6v37a6 6 0 0 0 6 6h9v149.02a149.352 149.352 0 0 0 -69.595 53.131 151.41 151.41 0 0 0 -28.345 88.875c0 83.674 68.13 151.746 151.876 151.746zm-56.936-479.772h112v25h-112zm-56.846 246.149a137.524 137.524 0 0 1 67.781-50.219 6 6 0 0 0 4.065-5.68v-153.25h82v153.25a6 6 0 0 0 4.065 5.68 139.832 139.832 0 0 1 92.585 107.07h-274.389a138.365 138.365 0 0 1 23.893-56.851zm89.513 84.413a4.667 4.667 0 1 1 -4.667-4.662 4.672 4.672 0 0 1 4.667 4.662zm-115.002-15.562h104.416a16.667 16.667 0 1 0 11.838 0h161.39c.4 4.3.633 8.643.633 13.026a139.277 139.277 0 0 1 -40.624 98.782 137.7 137.7 0 0 1 -98.382 40.964c-77.128 0-139.876-62.689-139.876-139.746 0-4.379.218-8.72.605-13.026z">
                                                    </path>
                                                    <path
                                                        d="m178 374.562a18.667 18.667 0 1 0 -18.667 18.666 18.688 18.688 0 0 0 18.667-18.666zm-25.333 0a6.667 6.667 0 1 1 6.666 6.666 6.673 6.673 0 0 1 -6.666-6.666z">
                                                    </path>
                                                    <path
                                                        d="m198.667 438.228a20.667 20.667 0 1 0 -20.667-20.666 20.69 20.69 0 0 0 20.667 20.666zm0-29.333a8.667 8.667 0 1 1 -8.667 8.667 8.677 8.677 0 0 1 8.667-8.662z">
                                                    </path>
                                                    <path
                                                        d="m273 425.9a23.667 23.667 0 1 0 -23.667-23.667 23.694 23.694 0 0 0 23.667 23.667zm0-35.333a11.667 11.667 0 1 1 -11.667 11.666 11.679 11.679 0 0 1 11.667-11.671z">
                                                    </path>
                                                    <path
                                                        d="m326.542 457.864q.578.031 1.15.032a20.692 20.692 0 1 0 -1.15-.032zm-7.529-21.107a8.68 8.68 0 0 1 8.649-8.2c.157 0 .317 0 .477.013a8.667 8.667 0 1 1 -9.126 8.183z">
                                                    </path>
                                                    <path
                                                        d="m335.333 396.9a25 25 0 1 0 -25-25 25.028 25.028 0 0 0 25 25zm0-38a13 13 0 1 1 -13 13 13.014 13.014 0 0 1 13-13z">
                                                    </path>
                                                    <path
                                                        d="m239.667 477.9a21.667 21.667 0 1 0 -21.667-21.672 21.692 21.692 0 0 0 21.667 21.672zm0-31.333a9.667 9.667 0 1 1 -9.667 9.661 9.677 9.677 0 0 1 9.667-9.666z">
                                                    </path>
                                                </svg>
                                                <h4>Science Stream - English, Math &amp; Science</h4>
                                            </div>
                                        </li>

                                        <li class="col mb-3 text-center">
                                            <div>
                                                <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1"
                                                    viewBox="0 0 512 512">
                                                    <title>Commerce Stream - English &amp; Math </title>
                                                    <path
                                                        d="M490,130.7V66.041C490,44.542,473.2,27,452.548,27H59.448C38.8,27,22,44.542,22,66.041V382.957C22,404.457,38.8,422,59.448,422H140v29.163c0,.116.19.233.2.348-.006.249.085.5.085.749a32.765,32.765,0,0,0,32.735,32.689l178.154,0a5.856,5.856,0,0,0,5.829-6V432h8.626A6.707,6.707,0,0,0,372,425.572V422h80.548C473.2,422,490,404.457,490,382.957V130.849c0-.026,0-.051,0-.077S490,130.721,490,130.7ZM59.448,39h393.1C466.58,39,478,51.159,478,66.041V125H34V66.041C34,51.159,45.416,39,59.448,39ZM173.063,420A33.956,33.956,0,0,0,152,426.971V236.74c0-11.408,9.654-20.74,21.062-20.74H185V420ZM345,472.947l-172.131,0A20.476,20.476,0,1,1,173.063,432H345ZM360,420H197V216h36V359.839a5.977,5.977,0,0,0,9.607,4.773l36.1-27.511,36.106,27.511a5.994,5.994,0,0,0,3.636,1.227,5.086,5.086,0,0,0,2.436-.623A5.8,5.8,0,0,0,324,359.839V216h36ZM296,216V334.891l-13.461-10.106a6.275,6.275,0,0,0-3.734-1.227,5.855,5.855,0,0,0-3.589,1.227L262,334.89V216Zm12,0h4V347.725l-4-3.691Zm-58,0V344.033l-5,3.692V216ZM452.548,410H372V210.051A6.374,6.374,0,0,0,365.626,204H173.062C155.038,204,140,218.715,140,236.74V410H59.448C45.416,410,34,397.839,34,382.957V137H478V382.957C478,397.839,466.58,410,452.548,410Z">
                                                    </path>
                                                    <path
                                                        d="M143.31,110.531c14.869,0,26.966-12.558,26.966-27.994s-12.1-27.994-26.966-27.994S116.344,67.1,116.344,82.537,128.441,110.531,143.31,110.531Zm0-43.988c8.252,0,14.966,7.175,14.966,15.994s-6.714,15.994-14.966,15.994-14.966-7.175-14.966-15.994S135.058,66.543,143.31,66.543Z">
                                                    </path>
                                                    <path
                                                        d="M211.448,110.531c14.869,0,26.966-12.558,26.966-27.994s-12.1-27.994-26.966-27.994S184.482,67.1,184.482,82.537,196.579,110.531,211.448,110.531Zm0-43.988c8.252,0,14.966,7.175,14.966,15.994S219.7,98.531,211.448,98.531s-14.966-7.175-14.966-15.994S203.2,66.543,211.448,66.543Z">
                                                    </path>
                                                    <path
                                                        d="M75.172,110.531c14.869,0,26.966-12.558,26.966-27.994s-12.1-27.994-26.966-27.994S48.206,67.1,48.206,82.537,60.3,110.531,75.172,110.531Zm0-43.988c8.252,0,14.966,7.175,14.966,15.994S83.424,98.531,75.172,98.531,60.206,91.356,60.206,82.537,66.92,66.543,75.172,66.543Z">
                                                    </path>
                                                </svg>
                                                <h4>Commerce Stream - English &amp; Math</h4>
                                            </div>
                                        </li>
                                        <li class="col mb-3 text-center">
                                            <div>
                                                <svg id="Layer_1" viewBox="0 0 512 512"
                                                    xmlns="http://www.w3.org/2000/svg" data-name="Layer 1">
                                                    <title>Humanities Stream - English, Math &amp; Social Science
                                                    </title>
                                                    <path
                                                        d="m443.233 20h-298-.048-.049-30.787c-28.443 0-51.349 23.513-51.349 51.955v366.217c0 .168-.11.334-.1.5-.012.457-.077.917-.077 1.377a51.616 51.616 0 0 0 51.553 51.582h304.594a6.023 6.023 0 0 0 6.026-6v-85.631h18.233a5.424 5.424 0 0 0 5.771-5.535v-368.092c0-3.313-2.453-6.373-5.767-6.373zm-368.233 51.955c0-21.826 17.523-39.955 39.349-39.955h24.651v356h-24.649a50.7 50.7 0 0 0 -39.351 19.009zm338 407.672h-298.608a39.815 39.815 0 0 1 -.041-79.627h298.649zm24-91.627h-286v-356h286z">
                                                    </path>
                                                    <path
                                                        d="m403 80a6 6 0 0 0 -6-6h-205a6 6 0 0 0 -6 6v253a6 6 0 0 0 6 6h205a6 6 0 0 0 6-6zm-205 6h193v241h-193z">
                                                    </path>
                                                    <path
                                                        d="m336.64 181.666a27.192 27.192 0 1 0 -26-19.2l-46.323 22.228a27.2 27.2 0 1 0 -1.868 36.654l47.734 21.891a27.251 27.251 0 1 0 5.3-10.771l-46.512-21.331a27.161 27.161 0 0 0 .768-15.734l46.912-22.51a27.126 27.126 0 0 0 19.989 8.773zm0 52.668a15.2 15.2 0 1 1 -15.2 15.2 15.213 15.213 0 0 1 15.2-15.2zm-93.28-17.134a15.2 15.2 0 1 1 15.2-15.2 15.213 15.213 0 0 1 -15.2 15.2zm93.28-77.923a15.2 15.2 0 1 1 -15.2 15.2 15.214 15.214 0 0 1 15.2-15.204z">
                                                    </path>
                                                </svg>
                                                <h4>Humanities Stream - English, Math &amp; Social Science</h4>
                                            </div>
                                        </li>
                                    </ul>

                                </li>
                                <!-- <li><i class="fa-regular fa-circle-right"></i>Proficiency &amp; Aptitude Assessments for different classes are conducted in the
                                    following months every year
    
                                    <div class="table-custom table-responsive p-0 pt-3">
                                        <table class="table table-bordered table-striped">
                                            <tbody>
                                                <tr>
                                                    <th>October / November</th>
                                                    <th>January</th>
                                                    <th>April &amp; May</th>
                                                </tr>
                                                <tr>
                                                    <td>Classes IV, V &amp; VI</td>
                                                    <td>Classes VII, VIII &amp; IX</td>
                                                    <td>Class XI</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </li> -->
                                <li><i class="fa-regular fa-circle-right"></i>Age Restrictions as on 1st April of the
                                    year of joining are as follows:

                                    <div class="table-custom table-responsive p-0 pt-3">
                                        <table class="table table-bordered table-striped">
                                            <tbody>
                                                <tr>
                                                    <th>Class IV</th>
                                                    <th>Class VII</th>
                                                    <th>Class XI</th>
                                                </tr>
                                                <tr>
                                                    <td> between 8 years to 9 years</td>
                                                    <td> between 11 years to 12 years</td>
                                                    <td> between 15 years to 16 years</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </li>

                                <!-- <li><i class="fa-regular fa-circle-right"></i>Boys who qualify the Assessment are called for an interaction along with parents. Both
                                    parents must attend.</li> -->
                                <!-- <li><i class="fa-regular fa-circle-right"></i>An Offer Letter is sent to the selected candidates after the interaction.</li> -->
                                <li><i class="fa-regular fa-circle-right"></i>Admission stands cancelled if the fee is
                                    not paid within the time stipulated.</li>
                                <!-- <li><i class="fa-regular fa-circle-right"></i>Full term fee would be charged for all the admissions during the term and similarly for
                                    all outgoing students during any term including the Board classes i.e. class X and XII
                                    students.</li> -->
                                <li><i class="fa-regular fa-circle-right"></i>The decision of the Admission Committee is
                                    final.</li>
                                <li><i class="fa-regular fa-circle-right"></i>The admission of a child to the School is
                                    on the understanding that his parent or
                                    guardian delegates his authority to the Principal during term time and to the School
                                    Resident Medical Officer in matters of health.</li>
                                <li><i class="fa-regular fa-circle-right"></i>Rules are subject to change at the
                                    discretion of the School. The admission of a child
                                    will mean a complete acceptance by the parent / guardian of all the School Rules in
                                    force or as amended from time to time.</li>
                                <li><i class="fa-regular fa-circle-right"></i>Scottish International School is a secular
                                    school, and any parent in disagreement may withdraw his
                                    child.</li>
                                <li><i class="fa-regular fa-circle-right"></i>All new admissions are on probation for a
                                    year. Students who make little progress owing
                                    to persistent idleness or other reasons may be asked to leave the School at the end
                                    of
                                    term.</li>
                                <li><i class="fa-regular fa-circle-right"></i>The School reserves the right of refusing
                                    admission / readmission.</li>
                                <!-- <li><i class="fa-regular fa-circle-right"></i>All matters are subject to Dehra Dun jurisdiction only.</li> -->

                            </ul>

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="row style-section-2 pt-3">
                <div class="col-md-10 col-12 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
                    <div class="style-section-text">
                        <h3>Enquiries regarding Admissions / Registration </h3>
                        <div class="row">
                            <div class="col">
                                <div class="text">
                                    <p>Admissions Office,<br>
                                        Scottish International School,<br>
                                        Civil Line Police Station Rd, Sector 17, Hisar,  125001,<br>
                                        Haryana, India.</p>
        
                                    <p><strong>E-mail Id</strong> : scottishinternational@gmail.com
                                    </p>
                                    <p><strong>Contact No</strong> : +91 9315577788</p>
                                    <!-- <p><strong>Admission Office</strong> : 9068587779 (09:30 AM to 06:00 PM)</p> -->
                                    <!--<p><strong>Fax</strong> : 0135 - 2658605</p>-->
                                </div>
                            </div>
                            <div class="col">
                                <div class="text">
                                    <p>Admissions Office,<br>
                                        Scottish International School ,<br>
                                        Near Aadhar hospital towards Delhi - South bye pass - Sector 16 & 17, 125001,<br>
                                        Haryana, India.</p>
        
                                    <p><strong>E-mail Id</strong> : scottishinternational@gmail.com
                                    </p>
                                    <p><strong>Contact No</strong> : +91 93508 08762</p>
                                    <!-- <p><strong>Admission Office</strong> : 9068587779 (09:30 AM to 06:00 PM)</p> -->
                                    <!--<p><strong>Fax</strong> : 0135 - 2658605</p>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <section class="row" style='margin-bottom: 160px;'>
            <%- include('./partials/footerBottom')%>
        </section>

        <link rel="stylesheet" href="/stylesheets/contact-us.css">
        <link rel="stylesheet" href="/stylesheets/page-title.css">
        <link rel="stylesheet" href="/stylesheets/navbottom.css">
        <link rel="stylesheet" href="/stylesheets/admissions.css">