<% layout('layouts/boilerplate')%>
    <section class="brand-hero">
        <!--<iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3444.1434557992666!2d78.05572211552051!3d30.3184371125311!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390929b7249d5e1f%3A0x6a0dbc429180e02b!2sWelham%20Boys&#39;%20School!5e0!3m2!1sen!2sin!4v1594274963609!5m2!1sen!2sin"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>-->
        <div class="animate-banner" style="">
            <picture class="zoom">
                <source media="(min-width: 1281px)" srcset="images/contact-banner.jpg"> <!--1600*704-->
                <source media="(min-width: 768px)" srcset="images/contact-banner.jpg"> <!--1000*500-->
                <source media="(min-width: 320px)" srcset="images/contact-banner.jpg"> <!--540*350-->
                <img src="images/contact-banner.jpg" alt="">
            </picture>
        </div>
        <div class="page-title">
            <div class="container">
                <div class="banner-content-inner">
                    <h1>Contact us <a href="/"><i class="las la-long-arrow-alt-left"></i> Home</a></h1>
                </div>
            </div>
        </div>
    </section>
    <section class="map">
        <iframe allowfullscreen="" frameborder="0" loading="lazy"
            src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAFq9_ErOMgRh-6_Z3-IVY2H00P6MWuA7Y&amp;q=scottish+international+school+hisar+haryana+india&amp;zoom=19"
            width="100%" height="400"></iframe>
    </section>
    <section class="position-relative py-5 bg1" style="margin-bottom: 160px;">
        <div class="d-md-none"><iframe allowfullscreen="" frameborder="0" loading="lazy"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAFq9_ErOMgRh-6_Z3-IVY2H00P6MWuA7Y&amp;q=scottish+academy+of+execellence+hisar+india&amp;zoom=19"
                width="100%" height="100%"></iframe></div>
        <div class="d-none d-md-block position-absolute top-0 start-0 w-100 h-100"><iframe allowfullscreen=""
                frameborder="0" loading="lazy"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAFq9_ErOMgRh-6_Z3-IVY2H00P6MWuA7Y&amp;q=Scottish+academy+of+excellence+hisar+india&amp;zoom=20"
                width="100%" height="100%"></iframe></div>
        <div class="position-relative mx-2 my-5 m-md-5">
            <div class="container">
                <div class="row justify-content-between align-items-center">
                    <div class="col-md-6 col-xl-5 col-xxl-6">
                        <div></div>
                        <div>
                            <div class="border rounded shadow p-3 p-md-4 p-lg-5" method="post"
                                style="background: var(--bs-body-bg);">
                                <div class="row">
                                    <div class="col">
                                        <h3 class="text-center mb-3">Branch #1</h3>
                                        <div class="mb-3">Scottish International School
                                            Civil Line Police Station Rd, Sector 17, Hisar, Haryana 125005, India</div>
                                            <div class="mb-3">Lat: Log:</div>
                                        <div class="mb-3"><a href="tel:+919315577788"style="text-decoration: none; color: black;"><i class="fa-solid fa-phone fa-shake"></i>+91 9315577788</a></div>
                                        <div class="mb-3"><a href="mailto:scottishinternational@gmail.com" style="font-size: 15px; text-decoration: none; color: black;"><i class="fa-regular fa-envelope fa-flip"></i>scottishinternational@gmail.com</a></div>
                                    </div>
                                    <div class="col">
                                        <h3 class="text-center mb-3">Branch #2</h3>
                                        <div class="mb-3">Scottish International School
                                            Near Aadhar hospital towards Delhi - South bye pass - Sector 16 & 17, Haryana 125001, India</div>
                                        <div class="mb-3">Lat: Log:</div>
                                        <div class="mb-3"><a href="tel:+919350808762" style="text-decoration: none; color: black;"><i class="fa-solid fa-phone fa-shake"></i>+91 93508 08762</a></div>
                                        <div class="mb-3"><a href="mailto:scottishinternational@gmail.com" style="font-size: 15px; text-decoration: none; color: black;"><i class="fa-regular fa-envelope fa-flip"></i>scottishinternational@gmail.com</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-xl-5 col-xxl-4">
                        <div>
                            <form class="border rounded shadow p-3 p-md-4 p-lg-5" method="post"
                                style="background: var(--bs-body-bg);">
                                <h3 class="text-center mb-3">Contact us</h3>
                                <div class="mb-3"><input class="form-control" type="text" name="name"
                                        placeholder="Name"></div>
                                <div class="mb-3"><input class="form-control" type="email" name="email"
                                        placeholder="Email"></div>
                                <div class="mb-3"><input class="form-control" type="number" name="mobilenumber"
                                        placeholder="Phone Number"></div>
                                <div class="mb-3"><textarea class="form-control" name="message" placeholder="Message"
                                        rows="6"></textarea></div>
                                <div class="mb-3"><button class="btn btn-primary" type="submit">Send </button></div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>