<% layout('layouts/boilerplate')%>
    <section class="brand-hero row">
        <div class="animate-banner">
            <picture class="zoom">
                <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-pause="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="3000">
                            <img src="https://res.cloudinary.com/djfy7fvq1/image/upload/v1683454348/Screenshot_2023-05-07_at_3.41.47_PM_wt8wpn.png"
                                class="d-block w-100" alt="Building picture" style="height: 70vh;">
                            <!-- <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <p>Some representative placeholder content for the first slide.</p>
                        </div> -->
                        </div>
                        <div class="carousel-item" data-bs-interval="3000">
                            <img src="https://res.cloudinary.com/djfy7fvq1/image/upload/v1679174855/Scottish/qd8pkstxjoq0udwuwoc7.jpg"
                                class="d-block w-100" alt="Building picture" style="height: 70vh;">
                            <!-- <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <p>Some representative placeholder content for the first slide.</p>
                        </div> -->
                        </div>
                    </div>
                </div>
            </picture>
        </div>
        <div class="page-title align-items-start">
            <div class="container">
                <div class="banner-content-inner">
                    <h1 style="font-size: 3em;">Director's Message <a href="/"><i class="fa-solid fa-arrow-left"
                                style="color: #eabd57;"></i> Home</a>
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <div class="page-content">
        <section class="profile-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-12 order-md-2">
                        <div class="profile-picture">
                            <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade"
                                data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="/assests/IMG_1919.jpeg" class="d-block w-100"
                                            alt="director profile picture">
                                        <!-- <div class=" carousel-caption d-none d-md-block">
                                        <h5>First slide label</h5>
                                        <p>Some representative placeholder content for the first slide.</p>
                                    </div> -->
                                        <h3>Mr. Narender Sindhu <small>Founder & Director of Scottish International
                                                School</small></h3>
                                    </div>
                                    <!-- <div class="carousel-item" data-bs-interval="3000">
                                    <img src="/assests/IMG_1919.jpeg" class="d-block w-100" alt="..." ">
                                     <div class=" carousel-caption d-none d-md-block">
                                    <h5>First slide label</h5>
                                    <p>Some representative placeholder content for the first slide.</p>
                                </div> 
                                <h3>Mr. Narender Sindhu <small>Founder of Scottish International School</small></h3>
                            </div> -->
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-8 col-12 order-md-1">
                        <div class="profile-content">
                            <!-- <div class="inner-section-title">
                            <h2>MS. OLIPHANT</h2>
                            <p>Founder of Welham Boys' School</p>
                        </div> -->
                            <div class="text">
                                <p>Dear Parents,</p>
                                <p>Greetings from Scottish International School.</p>
                                <p>Hope you and your loved ones are keeping well and looking after each other.</p>
                                <p>As an educational institution, we strive to provide a nurturing and inspiring
                                    environment where every student can grow, learn, and flourish.</p>

                                <p>At Scottish, we believe in the power of education to transform lives. Our
                                    dedicated team of educators is committed to fostering academic excellence,
                                    promoting character development, and instilling a love for lifelong learning. We
                                    embrace innovative teaching methodologies and integrate technology to enhance
                                    the learning experience.</p>

                                <p>Our school is not just a place of academic growth but also a vibrant community
                                    where students can explore their talents, interests, and passions. We offer a
                                    wide range of extracurricular activities, clubs, and sports programs that foster
                                    teamwork, leadership, and personal growth. These activities contribute to the
                                    holistic development of our students, equipping them with the skills and values
                                    necessary to thrive in an ever-changing world.</p>

                                <p>We are committed to providing a safe and supportive environment for all students.
                                    We believe that every child deserves to feel safe and respected, and we have a
                                    zero-tolerance policy for bullying and harassment. We also have a strong
                                    commitment to diversity and inclusion.</p>

                                <p>We believe in the importance of collaboration between parents, students, and
                                    staff. We encourage open lines of communication and value your involvement in
                                    your child's educational journey. Together, we can create a strong partnership
                                    that ensures the success and well-being of our students.</p>

                                <p>I would like to express my gratitude to our dedicated faculty and staff, whose
                                    unwavering commitment to education and the well-being of our students sets us
                                    apart. Their passion, expertise, and tireless efforts contribute to creating an
                                    exceptional learning environment.</p>

                                <p>I also extend my appreciation to our parents for entrusting us with the education
                                    of your children. Your support, involvement, and partnership are vital to the
                                    success of our students and our school as a whole.</p>

                                <p>Together, let us embark on a journey of growth, discovery, and endless
                                    possibilities for our students.</p>

                                <p>Best regards,</p>
                                <img src="assests/SISTransparentLogo.png" alt="Principal signature" class=" py-3"
                                    width="150px" height="170px">
                                <p>Narender Sindhu <br>Director <br>Scottish International School</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="container-fuild">
        <section class="row" style='margin-bottom: 160px;'>
            <%- include('./partials/footerBottom')%>
        </section>
    </div>
    <link rel="stylesheet" href="/stylesheets/contact-us.css">
    <link rel="stylesheet" href="/stylesheets/navbottom.css">
    <link rel="stylesheet" href="/stylesheets/about-us.css">