<% layout('layouts/boilerplate')%>
    <a class="fixedSocial fixedSocial-instagram" target="blank_" href="https://www.instagram.com/sishisar/"><span><i
                class="fa-brands fa-instagram fa-fade" style="color: #df7897;"></i> </span></a>
    <a class="fixedSocial fixedSocial-linkedin" target="blank_" href="https://www.facebook.com/scottish.hisar"><span><i
                class="fa-brands fa-facebook-f fa-fade" style="color: #a4cee4;"></i> </span></a>
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col" style="width: 500;height:720;">
                <iframe frameborder="1"
                    src="//www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fscottish.hisar%2Fposts%2Fpfbid0VKSwYRhgKj93mNcKE7pSQH8M2SJN3uWzpnNJ7uK1P4syvw3HoNoNqqwEzDDkXGDLl&show_text=true&width=500"
                    width="500" height="720" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" loading="lazy"></iframe>

            </div>
            <div class="col">
                <iframe frameborder="1"
                    src="//www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fscottish.hisar%2Fposts%2Fpfbid0eK33FbxQ4MVikxB6wunjJuQTtPVADErSzDRQkFDbRMJkudwbSPco53odFiFG93zJl&show_text=true&width=500"
                    width="500" height="850" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" loading="lazy"></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <iframe
                    src="//www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fscottish.hisar%2Fposts%2Fpfbid0313DgG7YEH7Leb6QR2xGq4jzYdeyxX5jtBM1JgBDgrY4pLtqm1HDsXt38PTLi4aqrl&show_text=true&width=500"
                    width="500" height="720" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" loading="lazy"></iframe>
            </div>
            <div class="col">
                <iframe
                    src="//www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fscottish.hisar%2Fposts%2Fpfbid02vAh8wp3GavqAVByQUhUsbLoH2p2YxAQ9bsEYrDTQYNnDfEgDMtAAusTkXLZS9ioal&show_text=true&width=500"
                    width="500" height="850" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" loading="lazy"></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <iframe
                    src="//www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fscottish.hisar%2Fposts%2Fpfbid02BouHNbXFz2ztkn2PUmprKvzoADc5XaL3oWQ78p7hCiqbn99PjDLinuofb6vfFeYHl&show_text=true&width=500"
                    width="500" height="750" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" loading="lazy"></iframe>
            </div>
            <div class="col">
                <iframe
                    src="//www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fscottish.hisar%2Fposts%2Fpfbid0NWKrZB55UwnetHo2GmWi1M4uYLveUj1L3FvaMo4dDAbKGBH1ye4Hj3cDMFTSnFFnl&show_text=true&width=500"
                    width="500" height="750" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" loading="lazy"></iframe>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <iframe
                    src="//www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fscottish.hisar%2Fposts%2Fpfbid0toWut6kpx2CNcx8RCyiQtQ5TydJGPBDWpqXyM4LTnjPnrHSG9kPTSPy6w9KdjE5Rl&show_text=true&width=500"
                    width="500" height="750" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" loading="lazy"></iframe>
            </div>
            <div class="col"><iframe
                    src="//www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fscottish.hisar%2Fposts%2Fpfbid0ExB6k55Gs354XzaoTX4T7A2eJUAA2kx5K4q8V57mandYF1r4BUyfTP5Xg3X36y4vl&show_text=true&width=500"
                    width="500" height="850" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                    allowfullscreen="true"
                    allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" loading="lazy"></iframe>
            </div>
        </div>
        <div class="row">
        <div class="col"><iframe
                src="//www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fscottish.hisar%2Fposts%2Fpfbid035qABVuLeykMGFjTGBjGHvkxR314ApnsqhH5rzj6JY9htj2ZALCYgMQuAJKwEMjHzl&show_text=true&width=500"
                width="500" height="750" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                allowfullscreen="true"
                allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" loading="lazy"></iframe>
        </div>
        <div class="col"><iframe
                src="//www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fscottish.hisar%2Fposts%2Fpfbid02HMrTt4UrpRfw9ckmmpN2aHdcdUB6nGFR8bW6oMUGk6FDXcGXZ81BsGXzMGdxnhe9l&show_text=true&width=500"
                width="500" height="750" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                allowfullscreen="true"
                allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" loading="lazy"></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col"><iframe
                src="//www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fscottish.hisar%2Fposts%2Fpfbid0cPrp83zj8tsouSRNkT2t93zqz5H9aVoev2hQSB7aFonJxJ3pahBh5D1c6zeEhStcl&show_text=true&width=500"
                width="500" height="750" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                allowfullscreen="true"
                allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" loading="lazy"></iframe>
        </div>
        <div class="col"><iframe
                src="//www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fscottish.hisar%2Fposts%2Fpfbid02ybg2R5Ae5Q6hnHUQT7n97KnjQXtBonuqhT13GdQ7E5zTuK4RN6oAesWBZbUJTX7hl&show_text=true&width=500"
                width="500" height="750" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                allowfullscreen="true"
                allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" loading="lazy"></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col"><iframe
                src="//www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fscottish.hisar%2Fposts%2Fpfbid08rZ2f4t8eFw5VW2vPaooZSqkuC3FgFQQqXpmdJeUUeBiBjqHkRixff2xkHADPrzFl&show_text=true&width=500"
                width="500" height="650" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                allowfullscreen="true"
                allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" loading="lazy"></iframe>
        </div>
        <div class="col"><iframe
                src="//www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fscottish.hisar%2Fposts%2Fpfbid0TVx7kedPXArBUsKXoJ1EckXHfCB2NpiLcbgk8DUhc9o9kMHf2Nkh7gngfeZxHEcFl&show_text=true&width=500"
                width="500" height="850" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                allowfullscreen="true"
                allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" loading="lazy"></iframe>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>

    <style>
        .brand-footer {
            margin-top: 0;
            margin-bottom: 0;
        }
    </style>