<% layout('layouts/boilerplate')%>

    <section class="brand-hero row">
        <!--<iframe class="google-map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3444.1434557992666!2d78.05572211552051!3d30.3184371125311!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390929b7249d5e1f%3A0x6a0dbc429180e02b!2sWelham%20Boys&#39;%20School!5e0!3m2!1sen!2sin!4v1594274963609!5m2!1sen!2sin"  frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>-->
        <div class="animate-banner">
            <picture class="zoom">
                <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-pause="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="3000">
                            <img src="https://res.cloudinary.com/djfy7fvq1/image/upload/v1683454348/Screenshot_2023-05-07_at_3.41.47_PM_wt8wpn.png"
                                class="d-block w-100" alt="..." style="height: 70vh;">
                            <!-- <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <p>Some representative placeholder content for the first slide.</p>
                        </div> -->
                        </div>
                        <div class="carousel-item" data-bs-interval="3000">
                            <img src="https://res.cloudinary.com/djfy7fvq1/image/upload/v1679174855/Scottish/qd8pkstxjoq0udwuwoc7.jpg"
                                class="d-block w-100" alt="..." style="height: 70vh;">
                            <!-- <div class="carousel-caption d-none d-md-block">
                            <h5>First slide label</h5>
                            <p>Some representative placeholder content for the first slide.</p>
                        </div> -->
                        </div>
                    </div>
                </div>
            </picture>
        </div>
        <div class="page-title align-items-start">
            <div class="container">
                <div class="banner-content-inner">
                    <h1 style="font-size: 3em;">Principal's Message <a href="/"><i class="fa-solid fa-arrow-left"
                                style="color: #eabd57;"></i> Home</a>
                    </h1>
                </div>
            </div>
        </div>
    </section>
    <div class="page-content">
        <section class="profile-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-12 order-md-2">
                        <div class="profile-picture">
                            <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade"
                                data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="/assests/IMG_0933.jpeg" class="d-block w-100" alt="..."" >
                                    <!-- <div class=" carousel-caption d-none d-md-block">
                                        <h5>First slide label</h5>
                                        <p>Some representative placeholder content for the first slide.</p>
                                    </div> -->
                                    <h3>Mrs. Mamta Sindhu <small>Founder & Principal of Scottish International
                                            School</small></h3>
                                </div>
                                <!-- <div class="carousel-item" data-bs-interval="3000">
                                    <img src="/assests/IMG_1919.jpeg" class="d-block w-100" alt="..." ">
                                     <div class=" carousel-caption d-none d-md-block">
                                    <h5>First slide label</h5>
                                    <p>Some representative placeholder content for the first slide.</p>
                                </div> 
                                <h3>Mr. Narender Sindhu <small>Founder of Scottish International School</small></h3>
                            </div> -->
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-md-8 col-12 order-md-1">
                    <div class="profile-content">
                        <!-- <div class="inner-section-title">
                            <h2>MS. OLIPHANT</h2>
                            <p>Founder of Welham Boys' School</p>
                        </div> -->
                        <div class="text ">
                            <p>Dear Parents,</p>
                            <p>Greetings from Scottish International School.</p>
                            <p>Hope you and your loved ones are keeping well and looking after each other.</p>
                            <p>I am thrilled to address you as the Principal of SIS family and share with you the
                                incredible opportunities and experiences that await you within our educational
                                community.</p>

                            <p>At Scottish, we are dedicated to providing a well-rounded education that nurtures
                                the academic, social, and emotional growth of each and every student. We believe in
                                fostering a culture of excellence, respect, and inclusivity, where every individual
                                is
                                valued and encouraged to reach their full potential.</p>

                            <p>As Educators, our Students are our pride. Each effort they make, each hurdle they
                                cross,
                                each one of their achievements gives us immense joy. Just as we embrace their
                                success,
                                we support them when they stumble, as they most inevitably do. Schools are life
                                simulated and our endeavour is to strengthen the character of our Students so that
                                they
                                are strong in mind, body and soul. Success and failure must affect them to the
                                extent
                                that they bring out the best in them.</p>

                            <p>Let me assure you, that the only thing that will drive me will be the thought that my
                                students deserve nothing but my best efforts. I will love them like my own, will
                                counsel
                                them like my own, will share their joys and sorrows and from time to time reprimand
                                them
                                like my own. In my endeavour, I seek your trust and support.</p>

                            <p>Looking forward to an association of mutual trust and respect.</p>

                            <p>Best regards,</p>
                            <img src="assests/SISTransparentLogo.png" alt="Principal signature" class=" py-3"
                                width="150px" height="170px">
                            <p>Mamta Sindhu <br>Principal <br>Scottish International School</p>
                        </div>
                    </div>
                </div>

            </div>
    </div>
    </section>
    </div>

    <section class="row" style='margin-bottom: 160px;'>
        <%- include('./partials/footerBottom')%>
    </section>

    <link rel="stylesheet" href="/stylesheets/contact-us.css">
    <link rel="stylesheet" href="/stylesheets/navbottom.css">
    <link rel="stylesheet" href="/stylesheets/about-us.css">