body {
	margin: 0;
	font-family: "Lato", "Nunito Sans", "Open Sans", sans-serif;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #212529;
	text-align: left;
	background-color: #fff;
}

.p-color {
	color: #654f4f;
}

ul {
	list-style: none;
}

/* Fix Bootstrap row margin issue */
.row {
	margin-left: 0;
	margin-right: 0;
}
#carouselExampleSlidesOnly {
	padding: 0;
}
