.address-wrap .form-group {
	position: relative;
	padding-left: 70px;
	margin: 30px 0;
}
.address-wrap .form-group i {
	position: absolute;
	left: 0;
	top: 3px;
	font-size: 26px;
	color: #eabd57;
	height: 45px;
	width: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: 2px solid #eabd57;
}
.address-wrap p {
	font-size: 1rem;
	line-height: 26px;
}
.address-wrap p b {
	display: block;
	margin: 0 0 5px 0;
	color: #654e42;
}
.address-wrap a {
	color: #000;
}
