@media (min-width: 768px) {
	.inner-page .brand-hero {
		height: 60vh;
	}
}

.inner-page .brand-hero {
	height: 350px;
}
.brand-hero {
	height: 70vh;
	position: relative;
	z-index: 2;
}

.animate-banner {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	overflow: hidden;
}

.animate-banner picture {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
	transform: scale(1);
}
@keyframes zoominoutsinglefeatured {
	0% {
		transform: scale(1, 1);
	}
	50% {
		transform: scale(2, 2);
	}
	100% {
		transform: scale(1, 1);
	}
}
.zoom {
	/* -webkit-animation: scale 40s linear infinite; */
	animation: zoominoutsinglefeatured 40s linear infinite;
}

.page-title {
	position: absolute;
	z-index: 2;
	margin: 0;
	left: 0;
	bottom: 0;
	width: 100%;
}

@media (min-width: 992px) {
	.page-title .container,
	.container-lg,
	.container-md,
	.container-sm {
		max-width: 960px;
	}
}

@media (min-width: 768px) {
	.page-title .container,
	.container-md,
	.container-sm {
		max-width: 720px;
	}
}

@media (min-width: 576px) {
	.page-title .container,
	.container-sm {
		max-width: 540px;
	}
}

@media (min-width: 992px) {
	.page-title .container {
		max-width: 960px;
	}
}

@media (min-width: 768px) {
	.page-title .container {
		max-width: 720px;
	}
}

@media (min-width: 576px) {
	.page-title .container {
		max-width: 540px;
	}
}

.page-title .container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: 10%;
	padding-bottom: 15px;
}

.banner-content-inner::after {
	height: 4px;
	background: #eabd57;
	position: absolute;
	bottom: 0;
	content: "";
	width: 130px;
	left: 10%;
}

@media (max-width: 1199px) {
	.banner-content-inner h1 {
		font-size: 3rem;
	}
}

.banner-content-inner h1 {
	font-size: 4rem;
	font-weight: 700;
	color: #fff;
	text-shadow: 0 0 30px #000;
	text-transform: uppercase;
	margin: 0;
}

@media (max-width: 1199px) {
	.banner-content-inner h1 a {
		font-size: 15px;
	}
}

.banner-content-inner h1 a {
	font-size: 1.2rem;
	color: #fff;
	display: block;
	opacity: 0.8;
	font-weight: 400;
}
a {
	color: #007bff;
	text-decoration: none;
	background-color: transparent;
}

.fa-solid .fa-arrow-left::before {
	content: "\f30a";
}
