<% layout('layouts/boilerplate')%>
    <%- include('./partials/fixedSocials')%>
    
    <div class="container-fuild">
        <section class="row" style='margin-bottom: 160px;'>
            <%- include('./partials/footerBottom')%>
        </section>
    </div>
    <link rel="stylesheet" href="/stylesheets/navbottom.css">
<link rel="stylesheet" href="/stylesheets/about-us.css">